<div class="row">
<div class="col-6">
<p><strong>Th&ocirc;ng tin chung</strong></p>
<p>- T&ecirc;n ng&agrave;nh:&nbsp;<strong>Kỹ thuật phần mềm</strong>&nbsp;</p>
<p>- M&atilde; ng&agrave;nh tuyển sinh:&nbsp;<strong>7480103</strong></p>
<p><strong>-</strong>&nbsp;Phương thức x&eacute;t tuyển:</p>
<p>&nbsp; &nbsp;+ X&eacute;t tuyển bằng điểm Kỳ thi tốt nghiệp THPT (<a class="site-link" href="../ptxt2">Phương thức 2</a>).</p>
<p>&nbsp; &nbsp;+ X&eacute;t tuyển bằng điểm học bạ THPT (<a class="site-link" href="../ptxt3">Phương thức 3</a>).</p>
<p>- Tổ hợp x&eacute;t tuyển: To&aacute;n-L&yacute;-H&oacute;a (A00); To&aacute;n-L&yacute;-Tiếng Anh (A01)</p>
</div>
<div class="col-6"><video poster="../../views/TT-tuyen-sinh/images/cong-nghe-thong-tin-h.png" controls="controls" width="100%" height="300"><source src="../../assets/uploads/7480103-KYTHUATPHANMEM.mp4" type="video/mp4"></video></div>
</div>
<p>- T&ecirc;n ng&agrave;nh được ghi tr&ecirc;n bằng tốt nghiệp, bảng điểm v&agrave; quyết định tốt nghiệp.</p>
<p><strong>Giới thiệu ng&agrave;nh đ&agrave;o tạo</strong></p>
<p>- Ng&agrave;nh Kỹ thuật phần mềm (KTPM) đ&agrave;o tạo sinh vi&ecirc;n trở th&agrave;nh kỹ sư KTMP chất lượng cao, c&oacute; sức khỏe, đạo đức v&agrave; tr&aacute;ch nhiệm với x&atilde; hội, c&oacute; kiến thức v&agrave; kỹ năng chuy&ecirc;n m&ocirc;n để ph&aacute;t triển c&aacute;c hệ thống phần mềm; c&oacute; thể đảm nhận vị tr&iacute; nghề nghiệp trong lĩnh vực c&ocirc;ng nghệ phần mềm; c&oacute; khả năng học tập suốt đời v&agrave; khả năng l&agrave;m việc trong lĩnh vực phần mềm trong v&agrave; ngo&agrave;i nước.</p>
<p>- Sinh vi&ecirc;n được học kiến thức v&agrave; kỹ năng chung d&agrave;nh cho người kỹ sư c&ocirc;ng nghệ th&ocirc;ng tin; kiến thức chuy&ecirc;n s&acirc;u về ph&acirc;n t&iacute;ch, thiết kế, c&agrave;i đặt, kiểm thử, đảm bảo chất lượng, bảo tr&igrave; phần mềm v&agrave; quản l&yacute; dự &aacute;n phần mềm; kiến thức nền tảng để ph&aacute;t triển ho&agrave;n chỉnh c&aacute;c hệ thống phần mềm theo một trong ba hướng: phần mềm nh&uacute;ng v&agrave; IoT, phần mềm nghiệp vụ, hoặc phần mềm m&ocirc; phỏng.</p>
<p><strong>Vị tr&iacute; việc l&agrave;m</strong>&nbsp;&nbsp;&nbsp;</p>
<p><span lang="PT-BR">-&nbsp;Kỹ sư ph&aacute;t triển phần mềm</span></p>
<p><span lang="PT-BR">-&nbsp;Kỹ sư kiểm thử phần mềm</span></p>
<p><span lang="PT-BR">-&nbsp;Kỹ sư ph&acirc;n t&iacute;ch v&agrave; thiết kế phần mềm</span></p>
<p><span lang="PT-BR">-&nbsp;Kỹ sư bảo tr&igrave; phần mềm</span></p>
<p><span lang="PT-BR">-&nbsp;Trưởng nh&oacute;m lập tr&igrave;nh, trưởng dự &aacute;n v&agrave; c&aacute;c vị tr&iacute; điều h&agrave;nh c&aacute;c cấp trong dự &aacute;n phần mềm</span></p>
<p><span lang="PT-BR">-&nbsp;Chủ doanh nghiệp sản xuất phần mềm;</span></p>
<p><span lang="PT-BR">-&nbsp;C&aacute;n bộ nghi&ecirc;n cứu v&agrave; ứng dụng C&ocirc;ng nghệ th&ocirc;ng tin</span></p>
<p><span lang="PT-BR">-&nbsp;Giảng vi&ecirc;n c&aacute;c trường đại học, cao đẳng, trung cấp đ&agrave;o tạo về C&ocirc;ng nghệ th&ocirc;ng tin.</span></p>
<p><strong>Nơi l&agrave;m việc</strong></p>
<p><span lang="PT-BR">-&nbsp;C&ocirc;ng ty chuy&ecirc;n về thiết kế, ph&aacute;t triển phần mềm,</span></p>
<p><span lang="PT-BR">-&nbsp;C&ocirc;ng ty tư vấn, thiết kế giải ph&aacute;p c&ocirc;ng nghệ th&ocirc;ng tin cho doanh nghiệp,</span></p>
<p><span lang="PT-BR">-&nbsp;C&aacute;c cơ quan, đơn vị nh&agrave; nước c&oacute; li&ecirc;n quan đến vận h&agrave;nh v&agrave; ph&aacute;t triển ứng dụng CNTT.</span></p>
<p><span lang="PT-BR">-&nbsp;C&aacute;c viện nghi&ecirc;n cứu v&agrave; chuyển giao c&ocirc;ng nghệ thuộc lĩnh vực CNTT</span></p>
<p><span lang="PT-BR">-&nbsp;Trường đại học, cao đẳng, trung học phổ th&ocirc;ng, trung học chuy&ecirc;n nghiệp v&agrave; dạy nghề.</span></p>
<h5>Chuẩn đầu ra:</h5>
<p>Ho&agrave;n th&agrave;nh chương tr&igrave;nh đ&agrave;o tạo, sinh vi&ecirc;n c&oacute; kiến thức, kỹ năng v&agrave; th&aacute;i độ như sau:</p>
<p>*<span lang="PT-BR">&nbsp;Kiến thức</span></p>
<p><span lang="PT-BR">Khối kiến thức gi&aacute;o dục đại cương</span></p>
<p>-&nbsp;&nbsp;&nbsp;C&oacute; hiểu biết về c&aacute;c nguy&ecirc;n l&yacute; cơ bản của chủ nghĩa M&aacute;c &ndash; L&ecirc;nin, Đường lối c&aacute;ch mạng của Đảng Cộng sản Việt Nam v&agrave; Tư tưởng Hồ Ch&iacute; Minh; c&oacute; c&aacute;c kiến thức cơ bản trong lĩnh vực khoa học x&atilde; hội v&agrave; nh&acirc;n văn; c&oacute; sức khoẻ, đ&aacute;p ứng y&ecirc;u cầu x&acirc;y dựng v&agrave; bảo vệ Tổ quốc.</p>
<p>-&nbsp;&nbsp;&nbsp;C&oacute; kiến thức cơ bản về to&aacute;n học v&agrave; khoa học tự nhi&ecirc;n, đ&aacute;p ứng việc tiếp thu c&aacute;c kiến thức gi&aacute;o dục chuy&ecirc;n nghiệp v&agrave; khả năng học tập ở tr&igrave;nh độ cao hơn.</p>
<p><span lang="PT-BR">Khối kiến thức cơ sở ng&agrave;nh</span></p>
<p>-&nbsp;&nbsp;&nbsp;C&oacute; kiến thức cơ bản về c&aacute;c cấu tr&uacute;c dữ liệu, ph&acirc;n t&iacute;ch v&agrave; thiết kế thuật to&aacute;n.</p>
<p>-&nbsp;&nbsp;&nbsp;C&oacute; kiến thức căn bản về cơ sở dữ liệu, về hệ thống th&ocirc;ng tin của c&aacute;c tổ chức v&agrave; doanh nghiệp.</p>
<p>-&nbsp;&nbsp;&nbsp;C&oacute; kiến thức về nguy&ecirc;n l&yacute; hoạt động của c&aacute;c hệ thống m&aacute;y t&iacute;nh, hệ điều h&agrave;nh, hệ thống mạng m&aacute;y t&iacute;nh.</p>
<p>-&nbsp;&nbsp;&nbsp;C&oacute; kiến thức tổng qu&aacute;t về nguy&ecirc;n l&yacute;, kỹ thuật v&agrave; c&ocirc;ng cụ trong ph&aacute;t triển, vận h&agrave;nh v&agrave; bảo tr&igrave; phần mềm.</p>
<p>-&nbsp;&nbsp;&nbsp;C&oacute; kiến thức nền tảng về CNTT, về c&aacute;c hệ điều h&agrave;nh th&ocirc;ng dụng đương đại.</p>
<p>Khối kiến thức chuy&ecirc;n ng&agrave;nh</p>
<p>-&nbsp;&nbsp;&nbsp;C&oacute; kiến thức chuy&ecirc;n s&acirc;u về ph&acirc;n t&iacute;ch, thiết kế v&agrave; c&agrave;i đặt phần mềm.</p>
<p>-&nbsp;&nbsp;&nbsp;C&oacute; kiến thức chuy&ecirc;n s&acirc;u về kiểm thử v&agrave; đảm bảo chất lượng phần mềm.</p>
<p>-&nbsp;&nbsp;&nbsp;C&oacute; kiến thức chuy&ecirc;n s&acirc;u về quản l&yacute; dự &aacute;n v&agrave; bảo tr&igrave; phần mềm.</p>
<p>-&nbsp;&nbsp;&nbsp;C&oacute; kiến thức bổ trợ nhằm x&acirc;y dựng một hệ thống phần mềm chất lượng.</p>
<p>-&nbsp;&nbsp;&nbsp;C&oacute; kiến thức ph&aacute;t triển ho&agrave;n chỉnh hệ thống phần mềm theo một trong ba hướng: hệ t&aacute;c tử hoặc hệ thống nh&uacute;ng hoặc hệ thống t&aacute;c nghiệp.</p>
<p>* Kỹ năng</p>
<p>Kỹ năng cứng</p>
<p>-&nbsp;&nbsp;&nbsp;X&acirc;y dựng hệ thống phần mềm:</p>
<p>+&nbsp;&nbsp;Nhận diện b&agrave;i to&aacute;n v&agrave; ph&acirc;n t&iacute;ch y&ecirc;u cầu phần mềm.</p>
<p>+&nbsp;&nbsp;M&ocirc; h&igrave;nh h&oacute;a hệ thống v&agrave; thiết kế chi tiết phần mềm.</p>
<p>+&nbsp;&nbsp;Lập tr&igrave;nh v&agrave; t&iacute;ch hợp hệ thống một c&aacute;ch hiệu quả.</p>
<p>-&nbsp;&nbsp;&nbsp;Kiểm thử v&agrave; đảm bảo chất lượng phần mềm:</p>
<p>+&nbsp; Lập c&aacute;c kế hoạch v&agrave; thực hiện theo ch&uacute;ng một c&aacute;ch c&oacute; hệ thống để đảm bảo rằng&nbsp;quy tr&igrave;nh ph&aacute;t triển v&agrave; bảo tr&igrave; phần mềm tu&acirc;n thủ đ&uacute;ng theo c&aacute;c y&ecirc;u cầu về&nbsp;kỹ thuật của chức năng cũng như c&aacute;c y&ecirc;u cầu về quản l&yacute;.</p>
<p>+&nbsp; Đề xuất v&agrave; quản l&yacute; c&aacute;c hoạt động để cải thiện v&agrave; n&acirc;ng cao hiệu quả của c&aacute;c hoạt động ph&aacute;t triển v&agrave; bảo tr&igrave; phần mềm.</p>
<p>-&nbsp;&nbsp;&nbsp;Quản l&yacute; dự &aacute;n v&agrave; bảo tr&igrave; phần mềm:</p>
<p>+&nbsp; Lập kế hoạch dự &aacute;n, ước lượng v&agrave; quản l&yacute; c&aacute;c nguồn lực, tiến độ v&agrave; chi ph&iacute; dự &aacute;n.</p>
<p>+&nbsp; Quản l&yacute; cấu h&igrave;nh v&agrave; n&acirc;ng cấp hệ thống phần mềm.</p>
<p>-&nbsp;&nbsp;&nbsp;Lập t&agrave;i liệu kỹ thuật cho c&aacute;c giai đoạn trong quy tr&igrave;nh ph&aacute;t triển v&agrave; bảo tr&igrave; phần mềm một c&aacute;ch chuẩn mực.</p>
<p>-&nbsp;&nbsp;&nbsp;Sử dụng th&agrave;nh thạo c&aacute;c c&ocirc;ng cụ hỗ trợ v&agrave;o c&aacute;c giai đoạn trong quy tr&igrave;nh ph&aacute;t triển v&agrave; bảo tr&igrave; phần mềm.</p>
<p>Kỹ năng mềm</p>
<p>-&nbsp;&nbsp;&nbsp;Ngoại ngữ: Giao tiếp th&ocirc;ng dụng bằng tiếng Anh hoặc tiếng Ph&aacute;p. Đọc v&agrave; hiểu c&aacute;c t&agrave;i liệu chuy&ecirc;n ng&agrave;nh bằng tiếng Anh hoặc tiếng Ph&aacute;p.</p>
<p>-&nbsp;&nbsp;&nbsp;Tin học: Sử dụng c&aacute;c phần mềm văn ph&ograve;ng cơ bản như Word, Excel, Power-point, khai th&aacute;c v&agrave; sử dụng Internet.</p>
<p>-&nbsp;&nbsp;&nbsp;L&agrave;m việc theo nh&oacute;m: X&acirc;y dựng nh&oacute;m, tổ chức hoạt động v&agrave; quản l&yacute; nh&oacute;m theo y&ecirc;u cầu của từng dự &aacute;n phần mềm.</p>
<p>-&nbsp;&nbsp;&nbsp;Giao tiếp:</p>
<p>+&nbsp; N&oacute;i v&agrave; viết c&aacute;c b&aacute;o c&aacute;o, t&agrave;i liệu kỹ thuật một c&aacute;ch khoa học.</p>
<p>+&nbsp; Sử dụng th&agrave;nh thạo c&aacute;c phương tiện điện tử (thư điện tử, trang web, hội thảo online, &hellip;) trong giao tiếp.</p>
<p>+&nbsp; C&oacute; phong c&aacute;ch thuyết tr&igrave;nh ph&ugrave; hợp với ngữ cảnh.</p>
<p>*&nbsp;Th&aacute;i độ&nbsp;</p>
<p>-&nbsp;&nbsp;&nbsp;Thể hiện đ&uacute;ng đạo đức nghề nghiệp của ng&agrave;nh nghề m&igrave;nh theo đuổi, nhận thức được vị tr&iacute;, vai tr&ograve; tầm quan trọng của c&aacute;c ti&ecirc;u chuẩn v&agrave; nguy&ecirc;n tắc về đạo đức của m&igrave;nh, c&oacute; th&aacute;i đ&uacute;ng mực với những sai lầm của m&igrave;nh.</p>
<p>-&nbsp;&nbsp;&nbsp;Lu&ocirc;n x&acirc;y dựng h&igrave;nh ảnh chuy&ecirc;n nghiệp trong c&ocirc;ng việc v&agrave; ứng xử hằng ng&agrave;y, tạo một phong c&aacute;ch l&agrave;m việc chuy&ecirc;n nghiệp.</p>
<p>-&nbsp;&nbsp;&nbsp;Chủ động l&ecirc;n kế hoạch ph&aacute;t triển nghề nghiệp cho bản th&acirc;n.</p>
<p>-&nbsp;&nbsp;&nbsp;Lu&ocirc;n lu&ocirc;n cập nhật th&ocirc;ng tin trong lĩnh vực chuy&ecirc;n ng&agrave;nh của m&igrave;nh để c&oacute; th&aacute;i độ ứng xử cũng như xử l&yacute; những thay đổi, cập nhật mới một c&aacute;ch ph&ugrave; hợp, hiệu quả.</p>