<table class="table">
<tbody>
<tr>
<th class="align-top px-0 text-center" scope="col">STT</th>
<th class="align-top px-0" scope="col">M&atilde; ng&agrave;nh</th>
<th class="align-top px-0" scope="col">T&ecirc;n ng&agrave;nh</th>
<th class="align-top px-0 text-center" scope="col">Chỉ ti&ecirc;u</th>
<th class="align-top px-0" scope="col">M&atilde; tổ hợp x&eacute;t tuyển</th>
<th class="align-top px-0 text-center" scope="col">Điểm tr&uacute;ng tuyển 2021 (học bạ)</th>
<th class="align-top px-0 text-center" scope="col">Điểm tr&uacute;ng tuyển 2021 (thi THPT)</th>
</tr>
</tbody>
<tbody>
<tr>
<th class="px-0 text-center" scope="row">1</th>
<td class="px-0">7480201</td>
<td class="px-0"><a class="site-link" href="../tttscntt/">C&ocirc;ng nghệ th&ocirc;ng tin</a></td>
<td class="px-0 text-center">60</td>
<td class="px-0">A00, A01</td>
<td class="px-0 text-center">28,50</td>
<td class="px-0 text-center">25,75</td>
</tr>
<tr>
<th class="px-0 text-center" scope="row">2</th>
<td class="px-0">7480104</td>
<td class="px-0"><a class="site-link" href="../tttshttt">Hệ thống th&ocirc;ng tin</a></td>
<td class="px-0 text-center">60</td>
<td class="px-0">A00, A01</td>
<td class="px-0 text-center">25,75</td>
<td class="px-0 text-center">24,25</td>
</tr>
<tr>
<th class="px-0 text-center" scope="row">3</th>
<td class="px-0">7480103</td>
<td class="px-0"><a class="site-link" href="../tttsktph">Kĩ thuật phần mềm</a></td>
<td class="px-0 text-center">60</td>
<td class="px-0">A00, A01</td>
<td class="px-0 text-center">27,50</td>
<td class="px-0 text-center">25,25</td>
</tr>
<tr>
<th class="px-0 text-center" scope="row">4</th>
<td class="px-0">7480102</td>
<td class="px-0"><a class="site-link" href="../tttsmmtttdl">Mạng m&aacute;y t&iacute;nh v&agrave; truyền th&ocirc;ng dữ liệu</a></td>
<td class="px-0 text-center">60</td>
<td class="px-0">A00, A01</td>
<td class="px-0 text-center">25,25</td>
<td class="px-0 text-center">24,00</td>
</tr>
<tr>
<th class="px-0 text-center" scope="row">5</th>
<td class="px-0">7480106</td>
<td class="px-0"><a class="site-link" href="../tttsktmt">Kỹ thuật m&aacute;y t&iacute;nh</a></td>
<td class="px-0 text-center">60</td>
<td class="px-0">A00, A01</td>
<td class="px-0 text-center">24,50</td>
<td class="px-0 text-center">23,75</td>
</tr>
<tr>
<th class="px-0 text-center" scope="row">6</th>
<td class="px-0">7480101</td>
<td class="px-0"><a class="site-link" href="../tttskhmt">Khoa học m&aacute;y t&iacute;nh</a></td>
<td class="px-0 text-center">60</td>
<td class="px-0">A00, A01</td>
<td class="px-0 text-center">27,00</td>
<td class="px-0 text-center">25,00</td>
</tr>
<tr>
<th class="px-0 text-center" scope="row">7</th>
<td class="px-0">7480202</td>
<td class="px-0"><a class="site-link" href="../tttsattt">An to&agrave;n th&ocirc;ng tin</a></td>
<td class="px-0 text-center">40</td>
<td class="px-0">A00, A01</td>
<td class="px-0 text-center">-</td>
<td class="px-0 text-center">-</td>
</tr>
<tr>
<th class="px-0 text-center" scope="row">8</th>
<td class="px-0">7320104</td>
<td class="px-0"><a class="site-link" href="../tttsttdpt">Truyền th&ocirc;ng đa phương tiện</a></td>
<td class="px-0 text-center">100</td>
<td class="px-0">A00, A01, D01</td>
<td class="px-0 text-center">-</td>
<td class="px-0 text-center">-</td>
</tr>
<tr>
<th class="px-0 text-center" scope="row">9</th>
<td class="px-0">7480201C</td>
<td class="px-0"><a class="site-link" href="../tttscnttclc">C&ocirc;ng nghệ th&ocirc;ng tin chất lượng cao</a></td>
<td class="px-0 text-center">40 (PT1, 2, 3)<br>40 (PT5)</td>
<td class="px-0">A01, D01, D07 (PT1,2,3)<br>A00, A01, D01, D07 (PT5)</td>
<td class="px-0 text-center">25,75</td>
<td class="px-0 text-center">24,00</td>
</tr>
<tr>
<th class="px-0 text-center" scope="row">10</th>
<td class="px-0">7480103C</td>
<td class="px-0"><a class="site-link" href="../tttsktpmclc">Kỹ thuật phần mềm chất lượng cao</a></td>
<td class="px-0 text-center">40 (PT1, 2, 3)<br>40 (PT5)</td>
<td class="px-0">A01, D01, D07 (PT1,2,3)<br>A00, A01, D01, D07 (PT5)</td>
<td class="px-0 text-center">-</td>
<td class="px-0 text-center">-</td>
</tr>
</tbody>
</table>
<p><em><strong>C&aacute;c ng&agrave;nh từ 1 đến 8 được tuyển sinh theo phương thức 1, 2, 3, 6</strong></em></p>