<div class="row">
<div class="col-6">
<p><strong><span lang="EN-US">Th&ocirc;ng tin chung</span></strong></p>
<p><span lang="EN-US">- T&ecirc;n ng&agrave;nh:<strong>&nbsp;Kỹ thuật M&aacute;y t&iacute;nh</strong></span></p>
<p><span lang="EN-US">- M&atilde; ng&agrave;nh tuyển sinh:&nbsp;</span><strong><span lang="EN-US">7480106</span></strong></p>
<p><strong>-</strong>&nbsp;Phương thức x&eacute;t tuyển:</p>
<p>&nbsp; &nbsp;+ X&eacute;t tuyển bằng điểm Kỳ thi tốt nghiệp THPT (<a class="site-link" href="../ptxt2">Phương thức 2</a>).</p>
<p>&nbsp; &nbsp;+ X&eacute;t tuyển bằng điểm học bạ THPT (<a class="site-link" href="../ptxt3">Phương thức 3</a>).</p>
<p><span lang="EN-US">- Tổ hợp x&eacute;t tuyển: To&aacute;n-L&yacute;-H&oacute;a (A00); To&aacute;n-L&yacute;-Tiếng Anh (A01)</span></p>
</div>
<div class="col-6"><video poster="../../assets/uploads/ky-thuat-may-tinh.png" controls="controls" width="100%" height="300"><source src="../../assets/uploads/7480106-KyThuatMayTinh.mp4" type="video/mp4"></video></div>
</div>
<p><span lang="EN-US">- T&ecirc;n ng&agrave;nh được ghi tr&ecirc;n bằng tốt nghiệp, bảng điểm v&agrave; quyết định tốt nghiệp.</span></p>
<p><strong><span lang="EN-US">Giới thiệu ng&agrave;nh đ&agrave;o tạo</span></strong></p>
<p><span lang="EN-US">-</span><span lang="EN-US">&nbsp;&nbsp;</span><span lang="EN-US">Kỹ thuật M&aacute;y t&iacute;nh l&agrave; ng&agrave;nh học kết hợp kiến thức về Điện tử v&agrave; C&ocirc;ng nghệ Th&ocirc;ng tin. Sinh vi&ecirc;n theo học ng&agrave;nh n&agrave;y vừa c&oacute; kiến thức nền tảng về kỹ thuật Điện tử vừa c&oacute; kiến thức chuy&ecirc;n s&acirc;u trong lĩnh vực thiết kế vi mạch điện tử, hệ thống nh&uacute;ng v&agrave; lập tr&igrave;nh ứng dụng tr&ecirc;n c&aacute;c hệ thống nh&uacute;ng như điện thoại th&ocirc;ng minh, m&aacute;y t&iacute;nh bảng.</span></p>
<p><span lang="EN-US">-</span><span lang="EN-US">&nbsp;&nbsp;</span><span lang="EN-US">C&oacute; năng lực thiết kế v&agrave; t&iacute;ch hợp c&aacute;c hệ m&aacute;y t&iacute;nh phục vụ nhu cầu điều khiển v&agrave; gi&aacute;m s&aacute;t c&aacute;c quy tr&igrave;nh sản xuất trong c&ocirc;ng nghiệp; c&oacute; kiến thức tốt về thiết kế chế tạo vi mạch t&iacute;ch hợp; c&oacute; khả năng tự học, tự nghi&ecirc;n cứu, tiếp cận c&aacute;c th&agrave;nh tựu khoa học kỹ thuật hiện đại.</span></p>
<p><strong><span lang="EN-US">Vị tr&iacute; việc l&agrave;m</span></strong></p>
<p><span lang="EN-US">- Kỹ sư nghi&ecirc;n cứu, thiết kế tại c&aacute;c doanh nghiệp, c&ocirc;ng ty sản xuất, kinh doanh thiết bị điện tử, m&aacute;y t&iacute;nh, tự động h&oacute;a.</span></p>
<p><span lang="EN-US">- Kỹ sư phụ tr&aacute;ch v&agrave; quản l&yacute; về kỹ thuật điện tử, m&aacute;y t&iacute;nh tại c&aacute;c nh&agrave; m&aacute;y.</span></p>
<p><span lang="EN-US">- Kỹ sư vận h&agrave;nh, lắp đặt, bảo tr&igrave; v&agrave; sửa chữa thiết bị điện tử, m&aacute;y t&iacute;nh.</span></p>
<p><span lang="EN-US">- Kỹ sư tư vấn trong lĩnh vực kỹ thuật điện tử ứng dụng, kỹ thuật m&aacute;y t&iacute;nh.</span></p>
<p><span lang="EN-US">- Chủ doanh nghiệp sản xuất, kinh doanh cung cấp giải ph&aacute;p kỹ thuật, sản phẩm thuộc lĩnh vực điện tử, m&aacute;y t&iacute;nh, tự động h&oacute;a.</span></p>
<p><span lang="EN-US">- Nghi&ecirc;n cứu vi&ecirc;n, giảng vi&ecirc;n tại c&aacute;c trường đại học, cao đẳng, trung cấp đ&agrave;o tạo về lĩnh vực điện tử, m&aacute;y t&iacute;nh.</span></p>
<p><strong><span lang="EN-US">Nơi l&agrave;m việc</span></strong></p>
<p><span lang="EN-US">- C&ocirc;ng ty chuy&ecirc;n về thiết kế, chế tạo thiết bị điện tử, m&aacute;y t&iacute;nh, tự động h&oacute;a;</span></p>
<p><span lang="EN-US">- Nh&agrave; m&aacute;y, x&iacute; nghiệp sản xuất nơi c&oacute; sử dụng m&aacute;y m&oacute;c, thiết bị tự động h&oacute;a;</span></p>
<p><span lang="EN-US">- Doanh nghiệp, c&ocirc;ng ty kinh doanh thiết bị điện tử, m&aacute;y t&iacute;nh;</span></p>
<p><span lang="EN-US">- Cơ quan Nh&agrave; nước c&oacute; li&ecirc;n quan đến lĩnh vực điện tử, m&aacute;y t&iacute;nh;</span></p>
<p><span lang="EN-US">- Trường đại học, cao đẳng, trung cấp,&hellip; đ&agrave;o tạo về kỹ thuật điện tử, m&aacute;y t&iacute;nh.</span></p>
<p><span lang="EN-US">- C&aacute;c c&ocirc;ng ty, doanh nghiệp nước ngo&agrave;i, tập đo&agrave;n đa quốc gia.</span></p>
<p><span lang="EN-US">- Xuất khẩu lao động ở Nhật Bản.</span></p>
<h5>Chuẩn đầu ra:</h5>
<p>Ho&agrave;n th&agrave;nh chương tr&igrave;nh đ&agrave;o tạo, sinh vi&ecirc;n c&oacute; kiến thức, kỹ năng v&agrave; th&aacute;i độ như sau:</p>
<p><span lang="VI">* Kiến thức</span></p>
<p><span lang="VI">Khối kiến thức gi&aacute;o dục đại cương</span></p>
<p><span lang="VI">-&nbsp;&nbsp;&nbsp;C&oacute;&nbsp;</span>kiến<span lang="VI">&nbsp;thức về khoa học ch&iacute;nh trị, x&atilde; hội v&agrave; nh&acirc;n văn, ph&aacute;p luật, đạo đức, r&egrave;n luyện thể chất v&agrave; an ninh quốc ph&ograve;ng; (ABET-l)</span></p>
<p><span lang="VI">-&nbsp;&nbsp;&nbsp;C&oacute;&nbsp;</span>kiến<span lang="VI">&nbsp;thức cơ bản về to&aacute;n học, vật l&yacute; v&agrave; h&oacute;a học; (ABET-a)</span></p>
<p><span lang="VI">-&nbsp;&nbsp;&nbsp;C&oacute;&nbsp;</span>kiến<span lang="VI">&nbsp;thức về c&aacute;c vấn đề đương đại; (ABET-j)</span></p>
<p><span lang="VI">Khối kiến thức cơ sở ng&agrave;nh</span></p>
<p><span lang="VI">-&nbsp;&nbsp;&nbsp;C&oacute; kiến&nbsp;</span>thức<span lang="VI">&nbsp;về kỹ thuật điện tử, m&aacute;y t&iacute;nh; (ABET-a)</span></p>
<p><span lang="VI">-&nbsp;&nbsp;&nbsp;C&oacute;&nbsp;</span>kiến<span lang="VI">&nbsp;thức đủ rộng để hiểu được t&aacute;c động của c&aacute;c giải ph&aacute;p kỹ thuật m&aacute;y t&iacute;nh l&ecirc;n x&atilde; hội trong bối cảnh to&agrave;n cầu; (ABET-h)</span></p>
<p><span lang="VI">Khối kiến thức chuy&ecirc;n ng&agrave;nh</span></p>
<p><strong>&nbsp; &nbsp;-&nbsp;&nbsp;</strong>&nbsp;&nbsp;<span lang="VI">C&oacute; kiến thức về&nbsp;</span>một<span lang="VI">&nbsp;hệ thống, một th&agrave;nh phần hoặc một qu&aacute; tr&igrave;nh trong lĩnh vực điện tử v&agrave; m&aacute;y t&iacute;nh; (ABET-c)</span></p>
<p><span lang="VI">* Kỹ năng</span></p>
<p><span lang="VI">Kỹ năng cứng</span></p>
<p>-&nbsp;&nbsp; &Aacute;p dụng kiến thức kỹ thuật điện tử, m&aacute;y t&iacute;nh v&agrave;o c&aacute;c vấn đề thuộc lĩnh vực điện tử v&agrave; m&aacute;y t&iacute;nh; (ABET-a)</p>
<p>-&nbsp;&nbsp; Thiết kế v&agrave; tiến h&agrave;nh th&iacute; nghiệm để thu thập, ph&acirc;n t&iacute;ch v&agrave; xử l&yacute; dữ liệu trong lĩnh vực kỹ thuật m&aacute;y t&iacute;nh; (ABET-b)</p>
<p>-&nbsp;&nbsp; Ph&acirc;n t&iacute;ch, thiết kế, thi c&ocirc;ng một hệ thống, một th&agrave;nh phần hoặc một qu&aacute; tr&igrave;nh trong lĩnh vực điện tử v&agrave; m&aacute;y t&iacute;nh đ&aacute;p ứng c&aacute;c nhu cầu mong muốn với c&aacute;c điều kiện r&agrave;ng buộc trong thực tế; (ABET-c)</p>
<p>-&nbsp;&nbsp; Sử dụng c&aacute;c p<span lang="VI">hương ph&aacute;p, kỹ thuật, kỹ năng v&agrave; c&aacute;c c&ocirc;ng cụ kỹ thuật hiện đại cần thiết cho thực h&agrave;nh kỹ thuật; (ABET-k)</span><strong><span lang="VI">&nbsp;</span></strong></p>
<p><span lang="VI">Kỹ năng mềm</span></p>
<p>-&nbsp; &nbsp;Hoạt động hiệu quả trong c&aacute;c nh&oacute;m kỹ thuật để ho&agrave;n th&agrave;nh một mục đ&iacute;ch chung; (ABET-d)</p>
<p>-&nbsp; &nbsp;X&aacute;c định, x&acirc;y dựng v&agrave; giải quyết vấn đề kỹ thuật trong lĩnh vực kỹ thuật m&aacute;y t&iacute;nh; (ABET-e)</p>
<p>-&nbsp; &nbsp;Đọc, viết v&agrave; tr&igrave;nh b&agrave;y c&aacute;c vấn đề kỹ thuật một c&aacute;ch hiệu quả, bằng tiếng Việt v&agrave; tiếng Anh; (ABET-g)</p>
<p>-&nbsp; &nbsp;Học suốt đời; (ABET-i)</p>
<p>*&nbsp;<span lang="VI">Th&aacute;i độ</span></p>
<p><span lang="VI">-&nbsp;&nbsp;</span>&nbsp;C&oacute; tr&aacute;ch nhiệm v&agrave; đạo đức nghề nghiệp; (ABET-f)</p>
<p>-&nbsp; &nbsp;C&oacute; &yacute; thức về ph&aacute;p luật, đạo đức, giữ g&igrave;n sức khỏe v&agrave; quốc ph&ograve;ng. (ABET-l)</p>
<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nhận thức được sự cần thiết của việc học suốt đời; (ABE<span lang="EN-GB">T-i)</span></p>