<div class="row">
<div class="col-6">
<p><strong>Th&ocirc;ng tin chung:</strong></p>
<p>- T&ecirc;n ng&agrave;nh: An to&agrave;n th&ocirc;ng tin</p>
<p>- M&atilde; ng&agrave;nh tuyển sinh: 7480202</p>
<p>-&nbsp;Phương thức x&eacute;t tuyển:</p>
<p>&nbsp; &nbsp;+ X&eacute;t tuyển bằng điểm Kỳ thi tốt nghiệp THPT (<a class="site-link" href="../ptxt2">Phương thức 2</a>).</p>
<p>&nbsp; &nbsp;+ X&eacute;t tuyển bằng điểm học bạ THPT (<a class="site-link" href="../ptxt3">Phương thức 3</a>).</p>
<p>- Tổ hợp x&eacute;t tuyển: To&aacute;n-L&yacute;-H&oacute;a (A00); To&aacute;n-L&yacute;-Tiếng Anh (A01)</p>
<p>- Thời gian đ&agrave;o tạo: 4,5 năm</p>
<p>- Danh hiệu cấp bằng: Kỹ sư</p>
</div>
<div class="col-6"><video poster="" controls="controls" width="100%" height="300"><source src="../../assets/uploads/7480202_Antoanthongtin.mp4" type="video/mp4"></video></div>
</div>
<p>- T&ecirc;n ng&agrave;nh được ghi tr&ecirc;n bằng tốt nghiệp, bảng điểm v&agrave; quyết định tốt nghiệp.</p>
<p><strong>Giới thiệu:</strong></p>
<p>Ng&agrave;nh An to&agrave;n th&ocirc;ng tin đ&agrave;o tạo kỹ sư c&oacute; khả năng bảo vệ an to&agrave;n th&ocirc;ng tin số, c&aacute;c hệ thống th&ocirc;ng tin v&agrave; hệ thống mạng; ph&ograve;ng ngừa, ph&aacute;t hiện, v&agrave; ngăn chặn kịp thời c&aacute;c hoạt động truy cập, sửa đổi, ph&aacute;t t&aacute;n, ph&aacute; hoại, v&agrave; tấn c&ocirc;ng bất hợp ph&aacute;p nhằm v&agrave;o hệ thống th&ocirc;ng tin của một tổ chức; đề xuất c&aacute;c giải ph&aacute;p bảo mật/an to&agrave;n th&ocirc;ng tin đồng thời triển khai gi&aacute;m s&aacute;t, đ&aacute;nh gi&aacute;, kiểm định an to&agrave;n th&ocirc;ng tin; xử l&yacute; c&aacute;c sự cố li&ecirc;n quan đến bảo mật, an to&agrave;n th&ocirc;ng tin hệ thống.</p>
<p>Sinh vi&ecirc;n sẽ được trang bị đầy đủ kiến thức, tri thức, kỹ năng cần thiết về bảo mật/an ninh dữ liệu, hệ thống th&ocirc;ng tin, v&agrave; mạng m&aacute;y t&iacute;nh; kiến thức chuy&ecirc;n s&acirc;u về kỹ thuật mật m&atilde;, an to&agrave;n hệ điều h&agrave;nh, cơ sở dữ liệu, an to&agrave;n c&aacute;c ứng dụng web v&agrave; Internet, an to&agrave;n trong giao dịch v&agrave; thương mại điện tử, c&aacute;c kỹ thuật tấn c&ocirc;ng v&agrave; x&acirc;m nhập mạng, m&ocirc; h&igrave;nh bảo vệ v&agrave; c&aacute;c kỹ thuật ph&ograve;ng thủ chống tấn c&ocirc;ng đột nhập; khả năng ph&acirc;n t&iacute;ch v&agrave; ph&aacute;n đo&aacute;n t&igrave;nh huống, c&oacute; kỹ năng lập tr&igrave;nh, sử dụng th&agrave;nh thạo c&aacute;c c&ocirc;ng cụ, giải ph&aacute;p ti&ecirc;n tiến để đảm bảo an to&agrave;n th&ocirc;ng tin; thực h&agrave;nh c&aacute;c t&igrave;nh huống thực tế cho việc ph&ograve;ng chống, ph&aacute;t hiện, ngăn chặn c&aacute;c cuộc tấn c&ocirc;ng hệ thống.</p>
<p><strong>Vị tr&iacute; việc l&agrave;m:</strong></p>
<p>- Chuy&ecirc;n vi&ecirc;n an to&agrave;n/bảo mật th&ocirc;ng tin;</p>
<p>- Nh&acirc;n vi&ecirc;n quản trị v&agrave; an ninh mạng m&aacute;y t&iacute;nh;</p>
<p>- Chuy&ecirc;n vi&ecirc;n điều tra tội phạm mạng v&agrave; xử l&yacute; sự cố an to&agrave;n th&ocirc;ng tin;</p>
<p>- Chuy&ecirc;n vi&ecirc;n vận h&agrave;nh gi&aacute;m s&aacute;t an to&agrave;n th&ocirc;ng tin;</p>
<p>- Chuy&ecirc;n vi&ecirc;n tư vấn, thiết kế, x&acirc;y dựng c&aacute;c giải ph&aacute;p về bảo mật c&ocirc;ng nghệ th&ocirc;ng tin;</p>
<p>- Lập tr&igrave;nh vi&ecirc;n trong c&aacute;c c&ocirc;ng ty thuộc lĩnh vực c&ocirc;ng nghệ th&ocirc;ng tin.</p>
<p>- Chủ c&ocirc;ng ty trong lĩnh vực c&ocirc;ng nghệ th&ocirc;ng tin;</p>
<p>- Giảng vi&ecirc;n c&aacute;c trường đại học, cao đẳng, trung cấp đ&agrave;o tạo c&ocirc;ng nghệ th&ocirc;ng tin.</p>
<p><strong>Nơi l&agrave;m việc:</strong></p>
<p>- Cơ quan, tổ chức, v&agrave; doanh nghiệp c&oacute; triển khai c&aacute;c giải ph&aacute;p c&ocirc;ng nghệ th&ocirc;ng tin;</p>
<p>- Cơ quan chuy&ecirc;n tr&aacute;ch bảo mật th&ocirc;ng tin, an ninh v&agrave; ph&ograve;ng chống tội phạm mạng.</p>
<p>- C&ocirc;ng ty lập tr&igrave;nh phần mềm;</p>
<p>- C&ocirc;ng ty tư vấn v&agrave; triển khai c&aacute;c giải ph&aacute;p c&ocirc;ng nghệ th&ocirc;ng tin;</p>
<p>- C&aacute;c viện, trung t&acirc;m nghi&ecirc;n cứu v&agrave; c&aacute;c trường đại học, cao đẳng, trung cấp, phổ th&ocirc;ng.</p>