<div class="row">
<div class="col-6">
<p><strong>Th&ocirc;ng tin chung:</strong></p>
<p><span lang="VI">- T&ecirc;n ng&agrave;nh: Kỹ thuật phần mềm (Chất lượng cao)</span></p>
<p><span lang="VI">- M&atilde; ng&agrave;nh tuyển sinh: 7480103C</span></p>
<p><span lang="VI">-&nbsp;Phương thức x&eacute;t tuyển:</span></p>
<p><strong>&nbsp;</strong>+ X&eacute;t bằng điểm Kỳ thi tốt nghiệp THPT (<a class="site-link" href="../ptxt2">Phương thức 2</a>)</p>
<p>&nbsp;+ X&eacute;t bằng điểm học bạ THPT (<a class="site-link" href="../ptxt3">Phương thức 3</a>).</p>
<p>&nbsp;+ Tuyển chọn theo&nbsp;<a class="site-link" href="../ptxt5">Phương thức 5</a>.&nbsp;</p>
<p>- Tổ hợp x&eacute;t tuyển:</p>
<p>&nbsp; + Phương thức 2 v&agrave; 3: To&aacute;n-L&yacute;-Tiếng Anh (A01); To&aacute;n-Văn-Tiếng Anh (D01); To&aacute;n-H&oacute;a-Tiếng Anh (D07).&nbsp;</p>
<p>&nbsp; + Phương thức 5: To&aacute;n-L&yacute;-H&oacute;a (A00); To&aacute;n-L&yacute;-Tiếng Anh (A01);&nbsp;To&aacute;n-Văn-Tiếng Anh (D01);&nbsp;To&aacute;n-H&oacute;a-Tiếng Anh (D07)</p>
</div>
<div class="col-6"><video poster="" controls="controls" width="100%" height="300"><source src="../../assets/uploads/7480103C_Ky-thuat-phan-mem-CLC_2022-02-21.mp4" type="video/mp4"></video></div>
</div>
<p><span lang="VI">- Thời gian đ&agrave;o tạo: 4</span>.5<span lang="VI">&nbsp;năm</span>.</p>
<p><span lang="VI">- Danh hiệu cấp bằng:&nbsp;</span>Kỹ sư.</p>
<p><span lang="VI">- T&ecirc;n ng&agrave;nh được ghi tr&ecirc;n bằng tốt nghiệp, bảng điểm v&agrave; quyết định tốt nghiệp.</span></p>
<p><strong>Giới thiệu:</strong></p>
<p>Ng&agrave;nh<span lang="VI">&nbsp;Kỹ thuật phần mềm (KTPM) chất lượng cao (CLC) đ&agrave;o tạo sinh vi&ecirc;n trở th&agrave;nh kỹ sư KTPM chất lượng cao, c&oacute; sức khỏe, đạo đức v&agrave; tr&aacute;ch nhiệm với x&atilde; hội, c&oacute; kiến thức v&agrave; kỹ năng chuy&ecirc;n m&ocirc;n để ph&aacute;t triển c&aacute;c hệ thống phần mềm v&agrave; đề xuất c&aacute;c giải ph&aacute;p để thực hiện c&aacute;c giai đoạn ph&aacute;t triển phần mềm, c&oacute; thể đảm nhận vị tr&iacute; nghề nghiệp trong lĩnh vực c&ocirc;ng nghệ v&agrave; kỹ thuật phần mềm, c&oacute; khả năng học tập suốt đời v&agrave; t&aacute;c phong l&agrave;m việc chuy&ecirc;n nghiệp để th&iacute;ch ứng với m&ocirc;i trường hội nhập quốc tế.</span></p>
<p>B&ecirc;n<span lang="VI">&nbsp;cạnh c&aacute;c kiến thức, kỹ năng chung d&agrave;nh cho kỹ sư nh&oacute;m ng&agrave;nh C&ocirc;ng nghệ th&ocirc;ng tin, sinh vi&ecirc;n ng&agrave;nh KTPM CLC được đ&agrave;o tạo s&acirc;u về lập tr&igrave;nh chuy&ecirc;n ng&agrave;nh (c&aacute;c ng&ocirc;n ngữ lập tr&igrave;nh, x&acirc;y dựng v&agrave; khai th&aacute;c thư viện chương tr&igrave;nh, frameworks); lập tr&igrave;nh chuy&ecirc;n s&acirc;u (kết nối vạn vật, ph&acirc;n t&iacute;ch dữ liệu lớn v&agrave; tr&iacute; tuệ nh&acirc;n tạo); c&aacute;c kiến thức v&agrave; kỹ năng ph&acirc;n t&iacute;ch, thiết kế, kiểm thử, đảm bảo chất lượng, bảo tr&igrave; v&agrave; quản l&yacute; dự &aacute;n phần mềm.</span></p>
<p><strong>Vị tr&iacute; việc l&agrave;m:</strong></p>
<p><span lang="VI">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kỹ sư đảm nhận c&aacute;c vai tr&ograve; ph&aacute;t triển phần mềm, kiểm thử phần mềm, ph&acirc;n t&iacute;ch v&agrave; thiết kế phần mềm, bảo tr&igrave; phần mềm.</span></p>
<p><span lang="VI">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Trưởng nh&oacute;m lập tr&igrave;nh, trưởng dự &aacute;n v&agrave; c&aacute;c vị tr&iacute; điều h&agrave;nh c&aacute;c cấp trong dự &aacute;n phần mềm.</span></p>
<p><span lang="VI">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chủ doanh nghiệp sản xuất phần mềm.</span></p>
<p><span lang="VI">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C&aacute;n bộ nghi&ecirc;n cứu v&agrave; ứng dụng CNTT.</span></p>
<p><span lang="VI">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Giảng vi&ecirc;n c&aacute;c trường đại học, cao đẳng, trung cấp đ&agrave;o tạo về CNTT.</span></p>
<p><strong>Nơi l&agrave;m việc:</strong></p>
<p><span lang="VI">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C&ocirc;ng ty, doanh nghiệp, tập đo&agrave;n chuy&ecirc;n về tư vấn, thiết kế giải ph&aacute;p, ph&aacute;t triển phần mềm</span>.</p>
<p><span lang="VI">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C&aacute;c cơ quan, đơn vị nh&agrave; nước c&oacute; li&ecirc;n quan đến vận h&agrave;nh v&agrave; ph&aacute;t triển ứng dụng CNTT.</span></p>
<p><span lang="VI">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C&aacute;c viện nghi&ecirc;n cứu v&agrave; chuyển giao c&ocirc;ng nghệ thuộc lĩnh vực CNTT.</span></p>
<p><span lang="VI">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Trường đại học, cao đẳng, trung học phổ th&ocirc;ng, trung học chuy&ecirc;n nghiệp v&agrave; dạy nghề.</span></p>