<h3>PHƯƠNG THỨC 3: X&eacute;t tuyển điểm học bạ THPT (C&aacute;c ng&agrave;nh ngo&agrave;i sư phạm)&nbsp;</h3>
<p><span lang="SV">X&eacute;t tuyển dựa v&agrave;o Điểm trung b&igrave;nh m&ocirc;n 5&nbsp;</span><span lang="EN-US">học kỳ&nbsp;<em>(5 học kỳ: c&aacute;c học kỳ lớp 10, lớp 11 v&agrave;&nbsp; học kỳ 1 lớp 12)</em></span><span lang="SV">&nbsp;của 3 m&ocirc;n&nbsp;</span><span lang="EN-US">trong&nbsp;</span><span lang="SV">tổ hợp x&eacute;t tuyển ứng với ng&agrave;nh do th&iacute; sinh đăng k&yacute;. Điểm mỗi m&ocirc;n (gọi l&agrave;&nbsp;<strong>Điểm M</strong>) để t&iacute;nh điểm x&eacute;t tuyển được t&iacute;nh bằng trung b&igrave;nh cộng của điểm trung b&igrave;nh m&ocirc;n trong 5 học kỳ&nbsp;<em>(l&agrave;m tr&ograve;n đến hai chữ số thập ph&acirc;n)</em>, c&ocirc;ng thức t&iacute;nh&nbsp;<strong>Điểm M</strong>&nbsp;như sau:</span></p>
<p><span lang="SV"><img src="../../assets/uploads/phuongthuc3_ct.PNG" alt="" width="642" height="46"></span>&nbsp;</p>
<p><em><span lang="EN-US">Trong đ&oacute;: ĐTBM<sub>HK</sub>&nbsp; l&agrave; Điểm trung b&igrave;nh m&ocirc;n học kỳ (HK1L10: Học kỳ 1 Lớp 10)</span></em></p>
<p><strong>* Ng&agrave;nh x&eacute;t tuyển</strong></p>
<p>- T<span lang="SV">ất cả c&aacute;c ng&agrave;nh chương tr&igrave;nh ti&ecirc;n tiến, chương tr&igrave;nh chất lượng cao v&agrave; chương tr&igrave;nh đại tr&agrave;&nbsp;<em>(trừ c&aacute;c ng&agrave;nh đ&agrave;o tạo gi&aacute;o vi&ecirc;n)</em>.&nbsp;&nbsp;(Xem&nbsp;<a class="site-link" href="../ttts/">Danh mục ng&agrave;nh tuyển sinh đại học ch&iacute;nh quy năm 2022</a>)</span></p>
<p><span lang="SV">- Chỉ ti&ecirc;u x&eacute;t tuyển: tối đa 40% &nbsp;chỉ ti&ecirc;u của ng&agrave;nh tương ứng.</span></p>
<p><strong>* Đối tượng</strong></p>
<p><span lang="SV">Th&iacute; sinh tốt nghiệp THPT từ năm 2022 trở về trước.&nbsp;</span>Tuyển sinh to&agrave;n quốc.</p>
<p><strong>* Điều kiện ĐKXT</strong></p>
<p>T<span lang="SV">ổng điểm 3 m&ocirc;n theo tổ hợp x&eacute;t tuyển ứng với ng&agrave;nh do th&iacute; sinh đăng k&yacute; từ&nbsp;<strong>19,50&nbsp;</strong>điểm trở l&ecirc;n&nbsp;<em>(kh&ocirc;ng cộng điểm ưu ti&ecirc;n)</em>. C&ocirc;ng thức như sau:</span></p>
<p align="center"><strong><span lang="SV">Tổng điểm 3 m&ocirc;n</span></strong><span lang="SV">&nbsp;= Điểm M<sub>1</sub>&nbsp;+ Điểm M<sub>2</sub>&nbsp;+ Điểm M<sub>3</sub>&nbsp; &ge; &nbsp;<strong>19,50</strong></span></p>
<p>(Kh&ocirc;ng x&eacute;t học lực, hạnh kiểm)</p>
<p><strong>* Điểm x&eacute;t tuyển</strong></p>
<p>L<span lang="SV">&agrave; tổng điểm 3 m&ocirc;n theo tổ hợp x&eacute;t tuyển, cộng với điểm ưu ti&ecirc;n&nbsp;<em>(đối tượng ưu ti&ecirc;n, khu vực ưu ti&ecirc;n quy định của Quy chế tuyển sinh)</em>. Kh&ocirc;ng nh&acirc;n hệ số v&agrave; t&iacute;nh theo c&ocirc;ng thức:</span></p>
<p align="center"><strong><span lang="SV">ĐXT</span></strong><span lang="SV">&nbsp;= (Điểm M<sub>1</sub>&nbsp;+&nbsp; Điểm M<sub>2</sub>&nbsp;+ Điểm M<sub>3</sub>) + Điểm ưu ti&ecirc;n</span></p>
<p><strong>* Nguy&ecirc;n tắc x&eacute;t tuyển</strong></p>
<p>-&nbsp;<span lang="SV">Th&iacute; sinh được đăng k&yacute; tối đa 05 nguyện vọng v&agrave; phải xếp theo thứ tự ưu ti&ecirc;n từ cao xuống thấp&nbsp;<em>(ưu ti&ecirc;n 1 l&agrave; nguyện vọng cao nhất)</em>. Đối với từng ng&agrave;nh, c&aacute;c th&iacute; sinh được x&eacute;t tuyển b&igrave;nh đẳng theo điểm x&eacute;t tuyển v&agrave; kh&ocirc;ng ph&acirc;n biệt thứ tự ưu ti&ecirc;n. X&eacute;t theo điểm từ cao xuống thấp.</span></p>
<p>-&nbsp;<span lang="SV">Đối với mỗi th&iacute; sinh, tất cả c&aacute;c nguyện vọng đều được x&eacute;t tuyển v&agrave; chỉ tr&uacute;ng tuyển v&agrave;o 1 nguyện vọng c&oacute; ưu ti&ecirc;n cao nhất trong số c&aacute;c nguyện vọng đủ điều kiện tr&uacute;ng tuyển.</span></p>
<p>-&nbsp;<span lang="SV">Điểm tr&uacute;ng tuyển giữa c&aacute;c tổ hợp x&eacute;t tuyển trong c&ugrave;ng 1 ng&agrave;nh l&agrave; bằng nhau v&agrave; được x&aacute;c định theo ng&agrave;nh. Đ&acirc;y ch&iacute;nh l&agrave; điểm x&eacute;t tuyển của th&iacute; sinh cuối c&ugrave;ng trong danh s&aacute;ch tr&uacute;ng tuyển v&agrave; gọi l&agrave; Điểm chuẩn tr&uacute;ng tuyển của ng&agrave;nh.</span></p>
<p>-&nbsp;<span lang="SV">Đối với những ng&agrave;nh c&oacute; chuy&ecirc;n ng&agrave;nh, sau khi tr&uacute;ng tuyển v&agrave; nhập học theo ng&agrave;nh, th&iacute; sinh được chọn chuy&ecirc;n ng&agrave;nh theo học.</span></p>
<p><strong><span lang="SV">V&iacute; dụ minh họa:</span></strong><span lang="SV">&nbsp;&nbsp;Một th&iacute; sinh chọn đăng k&yacute; 2 nguyện vọng (NV) như sau:</span></p>
<p><span lang="SV">(1) ng&agrave;nh Kỹ thuật X&acirc;y dựng-CLC, chọn tổ hợp D07 (To&aacute;n, H&oacute;a, Anh);</span></p>
<p><span lang="SV">(2) ng&agrave;nh Kỹ thuật Cơ Kh&iacute;, chọn tổ hợp A00 (To&aacute;n, L&yacute;, H&oacute;a) .</span></p>
<p><span lang="SV">Th&iacute; sinh c&oacute; điểm trung b&igrave;nh m&ocirc;n trong 5 học kỳ của mỗi m&ocirc;n ứng với tổ hợp x&eacute;t tuyển v&agrave;&nbsp;<strong>điểm mỗi m&ocirc;n (Điểm M)</strong>&nbsp;được t&iacute;nh như trong bảng sau:</span></p>
<div align="center">
<table border="1" width="614" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td rowspan="2" valign="top" width="63">
<p align="center"><strong><span lang="EN-US">M&ocirc;n</span></strong></p>
</td>
<td colspan="5" valign="top" width="434">
<p align="center"><strong><span lang="EN-US">Điểm trung b&igrave;nh m&ocirc;n học kỳ (ĐTBM<sub>HK</sub>)</span></strong></p>
</td>
<td rowspan="2" valign="top" width="117">
<p align="center"><strong><em><span lang="EN-US">Điểm mỗi m&ocirc;n (Điểm M)</span></em></strong></p>
</td>
</tr>
<tr>
<td valign="top" width="89">
<p align="center"><span lang="EN-US">HK1-L10</span></p>
</td>
<td valign="top" width="85">
<p align="center"><span lang="EN-US">HK2-L10</span></p>
</td>
<td valign="top" width="85">
<p align="center"><span lang="EN-US">HK1-L11</span></p>
</td>
<td valign="top" width="85">
<p align="center"><span lang="EN-US">HK2-L11</span></p>
</td>
<td valign="top" width="90">
<p align="center"><span lang="EN-US">HK1-L12</span></p>
</td>
</tr>
<tr>
<td valign="top" width="63">
<p><span lang="EN-US">To&aacute;n</span></p>
</td>
<td valign="top" width="89">
<p align="center"><span lang="EN-US">8,2</span></p>
</td>
<td valign="top" width="85">
<p align="center"><span lang="EN-US">8,0</span></p>
</td>
<td valign="top" width="85">
<p align="center"><span lang="EN-US">7,9</span></p>
</td>
<td valign="top" width="85">
<p align="center"><span lang="EN-US">8,3</span></p>
</td>
<td valign="top" width="90">
<p align="center"><span lang="EN-US">8,2</span></p>
</td>
<td valign="top" width="117">
<p align="center"><strong><span lang="EN-US">8,12</span></strong></p>
</td>
</tr>
<tr>
<td valign="top" width="63">
<p><span lang="EN-US">L&yacute;</span></p>
</td>
<td valign="top" width="89">
<p align="center"><span lang="EN-US">8,0</span></p>
</td>
<td valign="top" width="85">
<p align="center"><span lang="EN-US">6,8</span></p>
</td>
<td valign="top" width="85">
<p align="center"><span lang="EN-US">7,0</span></p>
</td>
<td valign="top" width="85">
<p align="center"><span lang="EN-US">7,0</span></p>
</td>
<td valign="top" width="90">
<p align="center"><span lang="EN-US">6,0</span></p>
</td>
<td valign="top" width="117">
<p align="center"><strong><span lang="EN-US">6,96</span></strong></p>
</td>
</tr>
<tr>
<td valign="top" width="63">
<p><span lang="EN-US">H&oacute;a</span></p>
</td>
<td valign="top" width="89">
<p align="center"><span lang="EN-US">6,9</span></p>
</td>
<td valign="top" width="85">
<p align="center"><span lang="EN-US">7,0</span></p>
</td>
<td valign="top" width="85">
<p align="center"><span lang="EN-US">7,1</span></p>
</td>
<td valign="top" width="85">
<p align="center"><span lang="EN-US">7,0</span></p>
</td>
<td valign="top" width="90">
<p align="center"><span lang="EN-US">7,5</span></p>
</td>
<td valign="top" width="117">
<p align="center"><strong><span lang="EN-US">7,10</span></strong></p>
</td>
</tr>
<tr>
<td valign="top" width="63">
<p><span lang="EN-US">Anh</span></p>
</td>
<td valign="top" width="89">
<p align="center"><span lang="EN-US">4,0</span></p>
</td>
<td valign="top" width="85">
<p align="center"><span lang="EN-US">4,0</span></p>
</td>
<td valign="top" width="85">
<p align="center"><span lang="EN-US">4,4</span></p>
</td>
<td valign="top" width="85">
<p align="center"><span lang="EN-US">4,3</span></p>
</td>
<td valign="top" width="90">
<p align="center"><span lang="EN-US">4,5</span></p>
</td>
<td valign="top" width="117">
<p align="center"><strong><span lang="EN-US">4,24</span></strong></p>
</td>
</tr>
</tbody>
</table>
</div>
<p><strong><span lang="SV">Kiểm tra điều kiện đăng k&yacute; x&eacute;t tuyển:</span></strong></p>
<p><span lang="SV">(1)&nbsp;&nbsp;Ng&agrave;nh Kỹ thuật X&acirc;y dựng-CLC, tổ hợp D07:</span></p>
<p><span lang="SV">Điểm M<sub>TO&Aacute;N</sub>&nbsp;+&nbsp; Điểm M<sub>H&Oacute;A</sub>&nbsp;+ Điểm M<sub>ANH</sub>&nbsp;= 8,12 + 7,1 + 4,24 = 19,46 &lt;&nbsp;<strong>19,50</strong>&nbsp;=&gt; Kh&ocirc;ng đạt điều kiện =&gt; loại</span></p>
<p><span lang="SV">(2)&nbsp;&nbsp;Ng&agrave;nh Kỹ thuật Cơ kh&iacute;, tổ hợp A00:</span></p>
<p><span lang="SV">Điểm M<sub>TO&Aacute;N</sub>&nbsp;+ Điểm M<sub>L&Yacute;</sub>&nbsp;+ Điểm M<sub>H&Oacute;A</sub>&nbsp;= 8,12 + 6,96 + 7,1 = 22,18 &gt; 19,5 =&gt; Đạt điều kiện đăng k&yacute; x&eacute;t tuyển, đưa v&agrave;o danh s&aacute;ch x&eacute;t tuyển ng&agrave;nh Kỹ thuật Cơ kh&iacute;</span></p>
<p><span lang="SV">Như vậy, th&iacute; sinh đăng k&yacute; 2 NV, nhưng chỉ c&oacute; 1 NV đủ điều kiện để x&eacute;t tuyển.</span></p>
<p><strong><span lang="SV">T&iacute;nh Điểm x&eacute;t tuyển:</span></strong><span lang="SV">&nbsp;Giả sử th&iacute; sinh thuộc đối tượng ưu ti&ecirc;n 01&nbsp;<em>(được +2đ)</em>&nbsp;v&agrave; khu vực ưu ti&ecirc;n l&agrave; KV2-NT&nbsp;<em>(được +0,5đ)</em>&nbsp;th&igrave; ĐXT của th&iacute; sinh d&ugrave;ng để x&eacute;t tuyển v&agrave;o ng&agrave;nh Kỹ thuật Cơ kh&iacute; l&agrave;:&nbsp;&nbsp;&nbsp;<strong>ĐXT =&nbsp;</strong>(8,12 + 6,96 + 7,10) + 2,0 + 0,5<strong>&nbsp;= 24,68</strong></span></p>
<p><strong>* Thời gian v&agrave; hồ sơ đăng k&yacute;</strong></p>
<p><span lang="SV">Từ ng&agrave;y 05/05/2022 đến hết ng&agrave;y 15/6/2022</span></p>
<p><strong>Bước 1:</strong>&nbsp;Đăng k&yacute; trực tuyến tại website&nbsp;<a href="http://xettuyen.ctu.edu.vn/" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=http://xettuyen.ctu.edu.vn&amp;source=gmail&amp;ust=1614354097710000&amp;usg=AFQjCNFk_jDIruM6H8PD0gdjwr8MC-01dg">http://xettuyen.ctu.edu.vn</a>&nbsp;&nbsp;(để tr&aacute;nh mọi sai s&oacute;t, th&iacute; sinh cần đọc kỹ hướng dẫn tr&ecirc;n hệ thống trước khi đăng k&yacute;).</p>
<p><span lang="en-us"><strong>Bước 2:&nbsp;</strong>Sau khi đăng k&yacute; trực tuyến v&agrave;&nbsp;<strong>chắc chắn kh&ocirc;ng c&ograve;n chỉnh sửa</strong>, th&iacute; sinh gửi hồ sơ về Trường gồm c&oacute;:<strong><br></strong></span>- Phiếu đăng k&yacute; x&eacute;t tuyển (in từ hệ thống đăng k&yacute; trực tuyến của Trường);<br>- 01 bản photo Học bạ (kh&ocirc;ng cần c&ocirc;ng chứng) hoặc bản gốc Giấy x&aacute;c nhận kết quả học tập THPT (đủ 5 học kỳ x&eacute;t);<br>- Đối với th&iacute; sinh đ&atilde; tốt nghiệp THPT từ năm 2021 trở về trước th&igrave; nộp th&ecirc;m 01 bản photo Bằng tốt nghiệp THPT (kh&ocirc;ng c&ocirc;ng chứng) hoặc Bản gốc Giấy chứng nhận tốt nghiệp THPT tạm thời;<br>- Ph&iacute; đăng k&yacute;: 30.000đ/ 1 nguyện vọng</p>
<p><strong>Bước 3</strong>: Gửi hồ sơ về Trường ĐHCT&nbsp;</p>
<p><strong><span lang="EN-US">Th&iacute; sinh chọn 1 trong 2 c&aacute;ch dưới đ&acirc;y để nộp hồ sơ x&eacute;t tuyển v&agrave; ph&iacute; đăng k&yacute; cho Trường ĐHCT:&nbsp;</span></strong></p>
<p><strong><u><span lang="EN-US">C&Aacute;CH 1:</span></u><span lang="EN-US">&nbsp;Nộp&nbsp;</span><span lang="EN-US">trực tiếp tại PH&Ograve;NG Đ&Agrave;O TẠO</span></strong><span lang="EN-US"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Địa chỉ: Khu II, Đường 3/2, P. Xu&acirc;n Kh&aacute;nh, Q. Ninh Kiều, TP. Cần Thơ<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thời gian nhận hồ sơ: Tất cả c&aacute;c ng&agrave;y từ 5/5 đến 15/6/2022 (Kể cả Thứ 7 v&agrave; Chủ nhật)<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;- S&aacute;ng từ 7 giờ 00 đến 11 giờ 00<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;- Chiều từ 13 giờ 00 đến 17 giờ 00<br><strong><u>C&Aacute;CH 2:</u>&nbsp;&nbsp;Sử dụng dịch vụ GỬI HỒ SƠ X&Eacute;T TUYỂN CỦA BƯU ĐIỆN VIỆT NAM</strong></span></p>
<p align="center"><img src="../../assets/uploads/pt34_nophoso1.PNG" width="430" height="83" border="0"></p>
<p><span lang="EN-US">1. Th&iacute; sinh mang đầy đủ hồ sơ x&eacute;t tuyển v&agrave; ph&iacute; đăng k&yacute; đến Bưu cục giao dịch của BƯU ĐIỆN VIỆT NAM (hoặc điểm Bưu điện văn h&oacute;a x&atilde;) để gửi chuyển ph&aacute;t HSXT v&agrave; Ph&iacute; đăng k&yacute; về Trường Đại học Cần Thơ (<strong>theo m&atilde; Trường TCT</strong>).&nbsp;<em>Th&iacute; sinh c&oacute; thể tra cứu t&igrave;m địa chỉ của bưu cục gần nơi ở của th&iacute; sinh tại website</em></span><em><u><span lang="EN-US"><a href="http://www.vnpost.vn/vi-vn/buu-cuc/tim-kiem" target="_blank" rel="noopener">&nbsp;http://www.vnpost.vn/vi-vn/buu-cuc/tim-kiem</a></span></u></em></p>
<p><span lang="EN-US">2. Khi ho&agrave;n</span>&nbsp;<span lang="EN-US">tất thủ tục nhận, giao dịch vi&ecirc;n ở Bưu cục sẽ giao cho th&iacute; sinh&nbsp;<strong>01 Vận đơn</strong>, tr&ecirc;n đ&oacute; c&oacute;&nbsp;<strong>M&atilde; bưu gửi</strong>. Th&iacute; sinh phải&nbsp;<strong>giữ g&igrave;n cẩn thận</strong>&nbsp;Vận đơn n&agrave;y để đối chiếu khi cần thiết (Xem h&igrave;nh minh họa)</span></p>
<p align="center"><img src="../../assets/uploads/pt34_nophoso2.PNG" width="488" height="126" border="0"></p>
<p>3. Một số lưu &yacute;:</p>
<ul type="disc">
<ul type="circle">
<li><strong><span lang="EN-US">Địa chỉ nơi nhận:</span></strong><span lang="EN-US">&nbsp;PH&Ograve;NG Đ&Agrave;O TẠO &ndash; TRƯỜNG ĐẠI HỌC CẦN THƠ<br>Khu II, Đường 3/2, P. Xu&acirc;n Kh&aacute;nh, Q. Ninh Kiều, TP. Cần Thơ</span></li>
<li><strong><span lang="EN-US">Ghi họ t&ecirc;n</span></strong><span lang="EN-US">, số điện thoại di động, số CMND của th&iacute; sinh ngo&agrave;i b&igrave; thư để li&ecirc;n lạc khi cần thiết.</span></li>
<li><span lang="EN-US">Sau khi Trường ĐHCT nhận được Hồ sơ của th&iacute; sinh, Trường sẽ cập nhật t&igrave;nh trạng hồ sơ v&agrave; th&iacute; sinh c&oacute; thể kiểm tra được trong menu &ldquo;Hồ sơ của t&ocirc;i&rdquo; tr&ecirc;n hệ thống Đăng k&yacute;.</span></li>
<li><span lang="EN-US">Muốn biết hồ sơ của m&igrave;nh đ&atilde; được vận chuyển đến Trường ĐHCT hay chưa, th&iacute; sinh c&oacute; thể tra cứu bưu phẩm tại website&nbsp;</span><u><span lang="EN-US"><a href="http://www.vnpost.vn/" target="_blank" rel="noopener">http://www.vnpost.vn/</a></span></u><span lang="EN-US">&nbsp;&nbsp;(sử dụng &ldquo;M&atilde; bưu gửi&rdquo; tr&ecirc;n Vận đơn để &ldquo;Tra cứu - định vị&rdquo; bưu phẩm)</span></li>
</ul>
</ul>