<h3><strong>TỔNG QUAN VỀ KHOA C&Ocirc;NG NGHỆ TH&Ocirc;NG TIN V&Agrave; TRUYỀN TH&Ocirc;NG</strong><strong><br></strong></h3>
<div>&nbsp;</div>
<div><strong>1. Lịch sử h&igrave;nh th&agrave;nh v&agrave; ph&aacute;t triển Khoa</strong></div>
<div>&nbsp;</div>
<div>Khoa C&ocirc;ng nghệ th&ocirc;ng tin v&agrave; truyền th&ocirc;ng (CNTT&amp;TT) được th&agrave;nh lập năm 1994 tr&ecirc;n cơ sở n&acirc;ng cấp từ Trung t&acirc;m Điện tử &amp; Tin học (được th&agrave;nh lập năm 1990). Kể từ khi th&agrave;nh lập, Khoa đ&atilde; trở th&agrave;nh một trong bảy khoa trọng điểm về lĩnh vực CNTT&amp;TT của Việt Nam. Khoa c&oacute; nhiệm vụ đ&agrave;o tạo nguồn nh&acirc;n lực lượng cao, g&oacute;p phần t&iacute;ch cực v&agrave;o sự ph&aacute;t triển của nền c&ocirc;ng nghiệp c&ocirc;ng nghệ th&ocirc;ng tin Việt Nam; đồng thời thực hiện nghi&ecirc;n cứu khoa học v&agrave; chuyển giao c&ocirc;ng nghệ ti&ecirc;n tiến, g&oacute;p phần đẩy mạnh nghiệp c&ocirc;ng nghiệp h&oacute;a, hiện đại h&oacute;a đất nước.&nbsp;</div>
<div>&nbsp;</div>
<div>Trải qua gần 30 năm x&acirc;y dựng v&agrave; ph&aacute;t triển, thương hiệu Khoa CNTT&amp;TT của Trường ĐHCT đ&atilde; trở th&agrave;nh địa chỉ uy t&iacute;n trong đ&agrave;o tạo nguồn nh&acirc;n lực đ&aacute;p ứng nhu cầu ph&aacute;t triển kinh tế x&atilde; hội. Hiện, Khoa đang sở hữu cơ sở vật chất khang trang v&agrave; đội ngũ giảng vi&ecirc;n vững mạnh to&agrave;n diện. Đặc biệt, trong những năm gần đ&acirc;y, Khoa đ&atilde; vinh dự nhận được nhiều danh hiệu cao qu&yacute;, như Cờ thi đua v&agrave; Bằng khen của Bộ Gi&aacute;o dục v&agrave; Đ&agrave;o tạo, Bằng khen của Thủ tướng v&agrave; Hu&acirc;n chương lao động hạng ba của Chủ tịch nước.</div>
<div>&nbsp;</div>
<div>&nbsp;<img src="../../assets/uploads/h1-tong%20quan.png" width="623" height="469"></div>
<div>&nbsp;</div>
<div><strong>2. Sứ mệnh, tầm nh&igrave;n, gi&aacute; trị cốt l&otilde;i v&agrave; triết l&yacute; gi&aacute;o dục của Khoa</strong></div>
<div>&nbsp;</div>
<div> Sứ mệnh của Khoa l&agrave; đ&agrave;o tạo, nghi&ecirc;n cứu khoa học v&agrave; chuyển giao c&ocirc;ng nghệ trong lĩnh vực CNTT&amp;TT v&agrave; c&aacute;c lĩnh vực li&ecirc;n quan, phục vụ sự nghiệp c&ocirc;ng nghiệp h&oacute;a v&agrave; hiện đại h&oacute;a đất nước.</div>
<div> Tầm nh&igrave;n đến năm 2025, Khoa CNTT&amp;TT l&agrave; trung t&acirc;m đ&agrave;o tạo v&agrave; nghi&ecirc;n cứu khoa học mạnh trong cả nước về lĩnh vực CNTT&amp;TT v&agrave; c&aacute;c lĩnh vực li&ecirc;n quan, đ&oacute;ng vai tr&ograve; n&ograve;ng cốt trong v&ugrave;ng Đồng bằng s&ocirc;ng Cửu Long v&agrave; khu vực ph&iacute;a nam, đạt chuẩn chất lượng đ&agrave;o tạo theo c&aacute;c chuẩn mực của c&aacute;c trường đại học ti&ecirc;n tiến v&agrave; c&aacute;c tổ chức kiểm định chất lượng gi&aacute;o dục trong khu vực v&agrave; thế giới.</div>
<div> Gi&aacute; trị cốt l&otilde;i của Khoa l&agrave; &ldquo;Đồng thuận - Tận t&acirc;m - Chuẩn mực - S&aacute;ng tạo&rdquo;.</div>
<div> Triết l&yacute; gi&aacute;o dục của Khoa l&agrave; &ldquo;Tư duy, S&aacute;ng tạo, Lấy người học l&agrave;m trung t&acirc;m&rdquo;.</div>
<div>&nbsp;</div>
<div><img src="../../assets/uploads/h1a-triet%20ly.png" width="450" height="146"></div>
<div>&emsp;</div>
<div><img src="../../assets/uploads/h2-sanh%20khoa.png" width="620" height="465"></div>
<div>Trong những năm gần đ&acirc;y, Cuộc C&aacute;ch mạng c&ocirc;ng nghiệp lần thứ tư với sự đột ph&aacute; chuyển đổi số trong lĩnh vực CNTT&amp;TT đ&atilde; v&agrave; đang tạo ra những t&aacute;c động mạnh mẽ đến tất cả c&aacute;c lĩnh vực của đời sống kinh tế x&atilde; hội ở nước ta, k&eacute;o theo nhu cầu nguồn nh&acirc;n lực CNTTT&amp;TT tăng cao li&ecirc;n lục. Bắt nhịp với bối cảnh tr&ecirc;n, Khoa đ&atilde; lu&ocirc;n kh&ocirc;ng ngừng đẩy mạnh ph&aacute;t triển c&aacute;c hoạt động đ&agrave;o tạo, nghi&ecirc;n cứu khoa học, hợp t&aacute;c quốc tế, cơ sở vật chất v&agrave; nguồn nh&acirc;n lực cả về chất lượng lẫn quy m&ocirc;.</div>
<div>&nbsp;</div>
<div><strong>3. Cơ cấu tổ chức v&agrave; nguồn nh&acirc;n lực</strong></div>
<div>&nbsp;</div>
<div>Về cơ cấu tổ chức, Khoa hiện c&oacute; 6 bộ m&ocirc;n (C&ocirc;ng nghệ th&ocirc;ng tin, Tin học ứng dụng, Khoa học m&aacute;y t&iacute;nh, C&ocirc;ng nghệ phần mềm, Hệ thống th&ocirc;ng tin, Mạng m&aacute;y t&iacute;nh v&agrave; Truyền th&ocirc;ng) v&agrave; 4 đơn vị trực thuộc (Trung t&acirc;m Điện tử &amp; Tin học, Ph&ograve;ng kỹ thuật, Văn ph&ograve;ng Khoa, Kh&ocirc;ng gian s&aacute;ng chế).&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;<img src="../../assets/uploads/h3-sodotochuc.png" width="750" height="620"></div>
<div>&nbsp;</div>
<div>Về nguồn nh&acirc;n lực, Khoa hiện c&oacute; 108 c&aacute;n bộ, trong đ&oacute; c&oacute; 5 ph&oacute; gi&aacute;o sư, 35 tiến sĩ, 14 nghi&ecirc;n cứu sinh v&agrave; 37 thạc sĩ. Đội ngũ giảng vi&ecirc;n của Khoa, phần lớn được đ&agrave;o tạo tại c&aacute;c trường uy t&iacute;n ở nước ngo&agrave;i, rất nhiệt t&igrave;nh, năng động, s&aacute;ng tạo trong giảng dạy v&agrave; nghi&ecirc;n cứu khoa học. Tất cả giảng vi&ecirc;n của Khoa đều c&oacute; tr&igrave;nh độ chuy&ecirc;n m&ocirc;n từ thạc sĩ trở l&ecirc;n, trong đ&oacute; 44% giảng vi&ecirc;n c&oacute; tr&igrave;nh độ tiến sĩ v&agrave; 15% giảng vi&ecirc;n đang học nghi&ecirc;n cứu sinh, với 50% l&agrave; giảng vi&ecirc;n ch&iacute;nh v&agrave; giảng vi&ecirc;n cao cấp.&nbsp;</div>
<div>&nbsp;</div>
<div><img src="../../assets/uploads/h4-hocvi-gv.png" width="850" height="389"></div>
<div>&nbsp;</div>
<div><strong>4. Quy m&ocirc; v&agrave; ng&agrave;nh nghề đ&agrave;o tạo</strong></div>
<div><img src="../../assets/uploads/h5-bang%20nganh%20dao%20tao.png" width="750" height="569"></div>
<div>&nbsp;&nbsp;</div>
<div>Khoa hiện c&oacute; 07 chuy&ecirc;n ng&agrave;nh kỹ sư, 03 ng&agrave;nh thạc sĩ v&agrave; 01 ng&agrave;nh tiến sĩ, với tổng quy m&ocirc; hiện tại l&agrave; hơn 4.810 sinh vi&ecirc;n bậc đại học v&agrave; 219 sinh vi&ecirc;n bậc sau đại học. Tất cả c&aacute;c ng&agrave;nh đ&agrave;o tạo của Khoa đ&atilde; được kiểm định nội bộ theo c&aacute;c ti&ecirc;u chuẩn v&agrave; ti&ecirc;u ch&iacute; của Bộ Gi&aacute;o dục v&agrave; Đ&agrave;o tạo. Đặc biệt, Khoa c&oacute; 3 ng&agrave;nh đ&agrave;o tạo bậc đại học đạt chuẩn kiểm định quốc tế AUN-QA: ng&agrave;nh C&ocirc;ng nghệ th&ocirc;ng tin, ng&agrave;nh Kỹ thuật phần mềm v&agrave; ng&agrave;nh Mạng m&aacute;y t&iacute;nh &amp; Truyền th&ocirc;ng dữ liệu. Khoa lu&ocirc;n ch&uacute; trọng tạo dựng m&ocirc;i trường đ&agrave;o tạo tốt, gắn kết đ&agrave;o tạo với c&aacute;c hoạt động NCKH thực tiễn, tạo ra nguồn nh&acirc;n lực c&oacute; chất lượng cao, đ&aacute;p ứng tốt nhất nhu cầu x&atilde; hội.</div>
<div><img src="../../assets/uploads/h6-aun-QA-CNTT.png" width="512" height="704"></div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;<img src="../../assets/uploads/Chung%20nhan%20KTPM.png" width="485" height="681"></div>
<div>&nbsp;</div>
<div><em><img src="../../assets/uploads/CHung%20nhan%20MMT.png" width="485" height="691"></em></div>
<div><em>&nbsp;</em></div>
<div>&nbsp;</div>
<div><em>Chứng nhận đạt chuẩn kiểm định quốc tế AUN-QA</em></div>
<div>&nbsp;</div>
<div><strong>5. Hoạt động nghi&ecirc;n cứu khoa học</strong></div>
<div>&nbsp;&nbsp;</div>
<div>Khoa CNTT&amp;TT lu&ocirc;n ch&uacute; trọng đẩy mạnh hoạt động NCKH. Theo đ&oacute;, h&agrave;ng năm, c&aacute;c c&aacute;n bộ của Khoa đ&atilde; xuất bản gần 100 b&agrave;i b&aacute;o khoa học, cũng như thực hiện nhiều đề t&agrave;i NCKH được t&agrave;i trợ kinh ph&iacute; từ nhiều cơ quan tổ chức kh&aacute;c nhau.&nbsp;</div>
<div><img src="../../assets/uploads/h7-chu%20de%20NCKH.png" width="780" height="472"></div>
<div>&nbsp;</div>
<div><img src="../../assets/uploads/h8-bieudobai%20bao.png" width="780" height="482"></div>
<div>&nbsp;</div>
<div>Trong những năm gần đ&acirc;y, Khoa CNTT&amp;TT tăng cường hợp t&aacute;c nghi&ecirc;n cứu khoa học&nbsp; v&agrave; đ&agrave;o tạo c&oacute; hiệu quả với nhiều tổ chức v&agrave; trường đại học trong nước v&agrave; quốc tế. C&aacute;c đối t&aacute;c nghi&ecirc;n cứu v&agrave; đ&agrave;o tạo quan trọng của Khoa l&agrave; Đại học Claude Bernard Lyon 1, Đại học La Rochelle, Đại học Bretagne Occidentale, Đại học Nantes, Viện Nghi&ecirc;n cứu &amp; Ph&aacute;t triển Ph&aacute;p (IRD), Đại học Bournemouth, Viện C&ocirc;ng nghệ Kyoto, Đại học Chung-Ang. Qua đ&oacute;, c&aacute;c dự &aacute;n nghi&ecirc;n cứu kh&aacute;c nhau đ&atilde; được thực hiện th&agrave;nh c&ocirc;ng. Hai trong số c&aacute;c dự &aacute;n nổi bật m&agrave; Khoa CNTT&amp;TT l&agrave; th&agrave;nh vi&ecirc;n l&agrave; JEAI DREAM (vietnam.ird.fr/l-ird-au-vietnam/jeai/jeai-dream-umi-209-ummisco-2011-2014) v&agrave; AniAge (euh2020aniage.org).</div>
<div>&nbsp;</div>
<div>Song song đ&oacute;, hoạt động học thuật trong sinh vi&ecirc;n cũng kh&ocirc;ng ngừng được đẩy mạnh. Trong những năm gần đ&acirc;y, sinh vi&ecirc;n của Khoa đ&atilde; đạt được nhiều th&agrave;nh t&iacute;ch cao trong NCKH, cũng như trong c&aacute;c cuộc thi Olympic, qua đ&oacute; g&oacute;p phần l&agrave;m tăng thương hiệu của Trường ĐHCT tr&ecirc;n b&igrave;nh diện quốc gia v&agrave; quốc tế.</div>
<div>&nbsp;</div>
<div><strong>6. Hoạt động quan hệ hợp t&aacute;c</strong></div>
<div>&nbsp;</div>
<div>Trong c&aacute;c năm qua, Khoa đ&atilde; đẩy mạnh quan hệ hợp t&aacute;c với nhiều đối t&aacute;c truyền thống từ Ph&aacute;p v&agrave; Canada, đồng thời tăng cường mở rộng hợp t&aacute;c với c&aacute;c đối t&aacute;c mới từ Anh, Mỹ, &Uacute;c v&agrave; Ch&acirc;u &Aacute;. B&ecirc;n cạnh đ&oacute;, Khoa đ&atilde; chủ động t&igrave;m kiếm, triển khai v&agrave; thực hiện tốt 2 dự &aacute;n quốc tế, qua đ&oacute; nhiều giảng vi&ecirc;n v&agrave; sinh vi&ecirc;n c&oacute; cơ hội đi học tập/nghi&ecirc;n cứu ở nước ngo&agrave;i.&nbsp;</div>
<div>&nbsp;</div>
<div>Khoa CNTT&amp;TT hợp t&aacute;c với nhiều đối t&aacute;c c&ocirc;ng nghiệp CNTT để đ&agrave;o tạo c&aacute;c kỹ năng chuy&ecirc;n m&ocirc;n về CNTT cho sinh vi&ecirc;n v&agrave; ph&aacute;t triển c&aacute;c sản phẩm CNTT. Song song đ&oacute;, Khoa đ&atilde; v&agrave; đang hợp t&aacute;c s&acirc;u rộng với nhiều tỉnh, th&agrave;nh phố ở Việt Nam trong việc ứng dụng CNTT v&agrave;o sản xuất v&agrave; đời sống h&agrave;ng ng&agrave;y, v&agrave; chuyển giao c&ocirc;ng nghệ CNTT.&nbsp;</div>
<div><img src="../../assets/uploads/h9-cac%20doi%20tac.png" width="850" height="481"></div>
<div>&nbsp;</div>
<div><img src="../../assets/uploads/h10-ky%20MOU.png" width="900" height="494"></div>
<div>C&aacute;c hoạt động hợp t&aacute;c với đối t&aacute;c doanh nghiệp trong v&agrave; ngo&agrave;i nước được đẩy mạnh v&agrave; mở rộng, đặc biệt l&agrave; th&ocirc;ng qua hai sự kiện thường ni&ecirc;n &ldquo;Ng&agrave;y hội việc l&agrave;m CNTT&rdquo;. Khoa đ&atilde; k&yacute; kết MoU với hơn 30 doanh nghiệp trong v&agrave; ngo&agrave;i nước. Định kỳ h&agrave;ng năm, Khoa triển khai r&agrave; so&aacute;t v&agrave; đ&aacute;nh gi&aacute; c&aacute;c MoU đ&atilde; k&yacute; kết để đưa ra kế hoạch cụ thể, nhằm đẩy mạnh hơn nữa quan hệ hợp t&aacute;c với c&aacute;c đối t&aacute;c. Qua đ&oacute;, tạo cầu nối hiệu quả giữa nh&agrave; trường v&agrave; doanh nghiệp, g&oacute;p phần n&acirc;ng cao thương hiệu của Khoa. Th&ocirc;ng qua c&aacute;c hoạt động n&agrave;y, Khoa nhận được nhiều t&agrave;i trợ của c&aacute;c c&ocirc;ng ty, từ học bổng cho sinh vi&ecirc;n cho đến c&aacute;c thiết bị nghi&ecirc;n cứu.</div>
<div>&nbsp;</div>
<div><strong>7. Cơ sở vật chất phục vụ đ&agrave;o tạo</strong></div>
<div>&nbsp;</div>
<div>Khoa hiện c&oacute; nhiều ph&ograve;ng thực h&agrave;nh/th&iacute; nghiệm với tr&ecirc;n 1300 m&aacute;y t&iacute;nh v&agrave; trang thiết bị hiện đại phục vụ cho việc giảng dạy v&agrave; nghi&ecirc;n cứu. Đặc biệt, Khoa c&oacute; kh&ocirc;ng gian tự học, s&aacute;ng tạo v&agrave; khởi nghiệp, l&agrave; nơi l&yacute; tưởng cho hoạt động học tập v&agrave; r&egrave;n luyện của sinh vi&ecirc;n.</div>
<div>&nbsp;</div>
<div>B&ecirc;n cạnh đ&oacute;, nguồn học liệu phục vụ học tập v&agrave; nghi&ecirc;n cứu rất phong ph&uacute;. Trung t&acirc;m học liệu của Trường (với diện t&iacute;ch 12.276 m2, 4.800 m2 ph&ograve;ng đọc, 900 chỗ ngồi, 440 m&aacute;y t&iacute;nh) c&oacute; hơn 30.000 đầu s&aacute;ch, nhiều tạp ch&iacute;/gi&aacute;o tr&igrave;nh điện tử v&agrave; nhiều phương tiện nghe nh&igrave;n hiện đại. Đặc biệt, Thư viện Khoa (với 3.431 đầu s&aacute;ch, tạp ch&iacute;, ebook v&agrave; cơ sở dữ liệu điện tử) l&agrave; nguồn tư liệu qu&iacute; b&aacute;u hỗ trợ đắc lực cho c&ocirc;ng t&aacute;c học tập, giảng dạy v&agrave; nghi&ecirc;n cứu khoa học.</div>
<div><img src="../../assets/uploads/h11-thu%20vien%20khoa.png" width="770" height="499"></div>
<div>&nbsp;</div>
<div>&nbsp;<img src="../../assets/uploads/h12-khong%20gian%20sang%20che.png" width="770" height="498"></div>
<div>&nbsp;</div>
<div><img src="../../assets/uploads/h13-Phong%20hoc%20va%20dich%20vu%20sv.png" width="772" height="625"></div>
<div>&nbsp;</div>
<div><strong>8. Hoạt động ngoại kh&oacute;a của sinh vi&ecirc;n</strong></div>
<div>&nbsp;</div>
<div>Với m&ocirc;i trường học tập ti&ecirc;n tiến v&agrave; hội nhập, sinh vi&ecirc;n Khoa CNTT&amp;TT bắt nhịp rất tốt trong cả c&aacute;c hoạt học thuật lẫn hoạt động ngoại kh&oacute;a. B&ecirc;n c&aacute;c hoạt động ngoại kh&oacute;a (như đo&agrave;n thanh ni&ecirc;n, m&ugrave;a h&egrave; xanh, giao lưu quốc tế, &hellip;), sinh vi&ecirc;n Khoa đ&atilde; đạt được nhiều th&agrave;nh t&iacute;ch ấn tượng trong c&aacute;c cuộc thi quốc gia v&agrave; quốc tế (như cuộc thi Olympic Tin học, cuộc thi nghi&ecirc;n cứu khoa học v&agrave; khởi nghiệp sinh vi&ecirc;n, &hellip;).&nbsp;&nbsp;</div>
<div>&nbsp;</div>
<div><img src="../../assets/uploads/h14-Sv%20trao%20doi%20van%20hoa.png" width="770" height="400"></div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div><img src="../../assets/uploads/h15-giai%20thuong%20sv.png" width="774" height="564"></div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div><img src="../../assets/uploads/h16-hoat%20dong%20sv%20tinh%20nguyen.png" width="774" height="438"></div>