<div class="row">
<div class="col-6">
<p><strong><span lang="EN-US">Th&ocirc;ng tin chung</span></strong></p>
<p><span lang="EN-US">- T&ecirc;n ng&agrave;nh:&nbsp;<strong>Hệ thống th&ocirc;ng tin</strong></span></p>
<p><span lang="EN-US">- M&atilde; ng&agrave;nh tuyển sinh:&nbsp;<strong>7480104</strong></span></p>
<p><strong>-</strong>&nbsp;Phương thức x&eacute;t tuyển:</p>
<p>&nbsp; &nbsp;+ X&eacute;t tuyển bằng điểm Kỳ thi tốt nghiệp THPT (<a class="site-link" href="../ptxt2">Phương thức 2</a>).</p>
<p>&nbsp; &nbsp;+ X&eacute;t tuyển bằng điểm học bạ THPT (<a class="site-link" href="../ptxt3">Phương thức 3</a>).</p>
<p><span lang="EN-US">- Tổ hợp x&eacute;t tuyển: To&aacute;n, L&yacute;, H&oacute;a (A00); To&aacute;n, L&yacute;, Tiếng Anh (A01)</span></p>
</div>
<div class="col-6"><video poster="../../views/TT-tuyen-sinh/images/he-thong-thong-tin.png" controls="controls" width="100%" height="300"><source src="../../assets/uploads/7480104-HETHONGTHONGTIN.mp4" type="video/mp4"></video></div>
</div>
<p><span lang="EN-US">- T&ecirc;n ng&agrave;nh được ghi tr&ecirc;n bằng tốt nghiệp, bảng điểm v&agrave; quyết định tốt nghiệp.</span></p>
<p><strong><span lang="EN-US">Giới thiệu</span></strong></p>
<p><span lang="EN-US"><em>-&nbsp;</em>Ng&agrave;nh Hệ thống th&ocirc;ng tin (HTTT) đ&agrave;o tạo kỹ sư c&oacute; khả năng quản trị, ph&acirc;n t&iacute;ch, thiết kế v&agrave; x&acirc;y dựng c&aacute;c Hệ thống th&ocirc;ng tin (phần mềm phục vụ quản l&yacute;, điều h&agrave;nh, hỗ trợ ra quyết định) cho c&aacute;c tổ chức hoạt động trong c&aacute;c lĩnh vực kh&aacute;c nhau như gi&aacute;o dục, h&agrave;nh ch&iacute;nh sự nghiệp, doanh nghiệp.</span></p>
<p><span lang="EN-US">- Sinh vi&ecirc;n được học kiến thức v&agrave; r&egrave;n kỹ năng nghề nghiệp chung d&agrave;nh cho người l&agrave;m việc trong lĩnh vực CNTT chuy&ecirc;n ng&agrave;nh Hệ thống th&ocirc;ng tin (HTTT) (giải ph&aacute;p CNTT phục vụ tin học h&oacute;a quản l&yacute;; nền tảng CNTT; đảm bảo an to&agrave;n HTTT, mạng m&aacute;y t&iacute;nh; lập tr&igrave;nh ứng dụng, lập tr&igrave;nh Web); kiến thức v&agrave; kỹ năng chuy&ecirc;n s&acirc;u về quy tr&igrave;nh, kỹ thuật x&acirc;y dựng v&agrave; ph&aacute;t triển một HTTT, c&aacute;ch thức sử dụng, quản trị c&aacute;c hệ quản trị CSDL cũng như kỹ năng về t&iacute;ch hợp hệ thống.</span></p>
<p><strong><span lang="EN-US">Vị tr&iacute; việc l&agrave;m</span></strong></p>
<p><span lang="EN-US">- Chuy&ecirc;n vi&ecirc;n tư vấn, thiết kế giải ph&aacute;p x&acirc;y dựng HTTT cho đơn vị, tổ chức.</span></p>
<p><span lang="EN-US">- Quản trị vi&ecirc;n hệ thống th&ocirc;ng tin tại c&aacute;c đơn vị, tổ chức.</span></p>
<p><span lang="EN-US">- Lập tr&igrave;nh vi&ecirc;n, chuy&ecirc;n vi&ecirc;n thiết kế, quản trị cơ sở dữ liệu.</span></p>
<p><span lang="EN-US">- Chuy&ecirc;n gia ph&acirc;n t&iacute;ch, thiết kế hệ thống.</span></p>
<p><span lang="EN-US">- Phụ tr&aacute;ch c&aacute;c c&ocirc;ng ty mua b&aacute;n thiết bị tin học, c&aacute;c c&ocirc;ng ty gia c&ocirc;ng phần mềm.</span></p>
<p><span lang="EN-US">- Giảng vi&ecirc;n c&aacute;c trường đại học, cao đẳng, trung cấp đ&agrave;o tạo về CNTT.</span></p>
<p><strong><span lang="EN-US">Nơi l&agrave;m việc</span></strong></p>
<p><span lang="EN-US">- C&ocirc;ng ty tư vấn, thiết kế giải ph&aacute;p CNTT.</span></p>
<p><span lang="EN-US">- Đơn vị, tổ chức c&oacute; ứng dụng CNTT trong quản l&yacute; v&agrave; điều h&agrave;nh.</span></p>
<p><span lang="EN-US">- C&ocirc;ng ty phần mềm.</span></p>
<p><span lang="EN-US">- Trường đại học, cao đẳng, trung cấp đ&agrave;o tạo lĩnh vực HTTT.</span></p>
<h5>Chuẩn đầu ra:</h5>
<p>Ho&agrave;n th&agrave;nh chương tr&igrave;nh đ&agrave;o tạo, sinh vi&ecirc;n c&oacute; kiến thức, kỹ năng v&agrave; th&aacute;i độ như sau:</p>
<p><span lang="VI">* Kiến thức</span></p>
<p>Khối kiến thức gi&aacute;o dục đại cương</p>
<p>-&nbsp;&nbsp;&nbsp;C&oacute; kiến thức cơ bản về chủ nghĩa M&aacute;c &ndash; L&ecirc;nin; đường lối, ch&iacute;nh s&aacute;ch của Đảng Cộng sản Việt Nam; tư tưởng Hồ Ch&iacute; Minh, c&oacute; sức khỏe, c&oacute; kiến thức về gi&aacute;o dục quốc ph&ograve;ng đ&aacute;p ứng y&ecirc;u cầu x&acirc;y dựng v&agrave; bảo vệ Tổ quốc.</p>
<p>-&nbsp;&nbsp;&nbsp;C&oacute; kiến thức cơ bản về ph&aacute;p luật đại cương, về&nbsp; khoa học x&atilde; hội v&agrave; nh&acirc;n văn, khoa học tự nhi&ecirc;n để đ&aacute;p ứng y&ecirc;u cầu tiếp thu kiến thức gi&aacute;o dục chuy&ecirc;n nghiệp.</p>
<p>-&nbsp;&nbsp;&nbsp;C&oacute; kiến thức cơ bản về tiếng Anh/tiếng Ph&aacute;p tương đương tr&igrave;nh độ A Quốc gia.</p>
<p>-&nbsp;&nbsp;&nbsp;C&oacute; kiến thức cơ bản về m&aacute;y t&iacute;nh, c&aacute;c phần mềm văn ph&ograve;ng v&agrave; c&aacute;c phần mềm cơ bản kh&aacute;c.</p>
<p>Khối kiến thức cơ sở ng&agrave;nh</p>
<p>-&nbsp;&nbsp;&nbsp;Kiến thức về c&aacute;c giải ph&aacute;p đảm bảo an to&agrave;n hệ thống th&ocirc;ng tin, an to&agrave;n mạng m&aacute;y t&iacute;nh.</p>
<p>-&nbsp;&nbsp;&nbsp;Kiến thức cơ sở ng&agrave;nh để SV c&oacute; thể thực hiện tư vấn, thiết kế c&aacute;c giải ph&aacute;p CNTT phục vụ tin học h&oacute;a quản l&yacute; trong doanh nghiệp, tổ chức.</p>
<p>-&nbsp;&nbsp;&nbsp;Kiến thức li&ecirc;n ng&agrave;nh về hệ thống th&ocirc;ng tin trong doanh nghiệp; C&oacute; hiểu biết nhất định về c&aacute;c giải ph&aacute;p khai ph&aacute; dữ liệu li&ecirc;n quan đến c&aacute;c hoạt động quản l&yacute;, sản xuất, kinh doanh.</p>
<p>Khối kiến thức chuy&ecirc;n ng&agrave;nh</p>
<p>-&nbsp;&nbsp;&nbsp;Kiến thức chuy&ecirc;n ng&agrave;nh, li&ecirc;n ng&agrave;nh để x&acirc;y dựng, ph&aacute;t triển, quản trị c&aacute;c loại hệ thống th&ocirc;ng tin như: hệ thống th&ocirc;ng tin quản l&yacute;, hệ thống th&ocirc;ng tin địa l&yacute;, hệ thống thương mại điện tử, gi&aacute;o dục điện tử.</p>
<p>-&nbsp;&nbsp;&nbsp;Kiến thức về quy tr&igrave;nh ph&aacute;t triển một hệ thống th&ocirc;ng tin.</p>
<p>-&nbsp;&nbsp;&nbsp;Kiến thức về ph&acirc;n t&iacute;ch thiết kế hệ thống.</p>
<p>-&nbsp;&nbsp;&nbsp;Kiến thức về t&iacute;ch hợp hệ thống.</p>
<p>* Kỹ năng</p>
<p>Kỹ năng cứng</p>
<p><span lang="VI">-&nbsp;&nbsp;&nbsp;</span>Ứng dụng kỹ thuật, c&ocirc;ng nghệ hiện đại cho qu&aacute; tr&igrave;nh x&acirc;y dựng, ph&aacute;t triển hệ thống th&ocirc;ng tin.</p>
<p>-&nbsp;&nbsp;&nbsp;Sử dụng, quản trị c&aacute;c hệ quản trị CSDL quan hệ, CSDL địa l&yacute; th&ocirc;ng dụng, c&aacute;c c&ocirc;ng cụ hỗ trợ ph&acirc;n t&iacute;ch thiết kế.</p>
<p>-&nbsp;&nbsp;&nbsp;Thu thập, đặc tả v&agrave; kiểm thử y&ecirc;u cầu người d&ugrave;ng.</p>
<p>Kỹ năng mềm</p>
<p><span lang="VI">-&nbsp;&nbsp;&nbsp;</span>Thuyết tr&igrave;nh, tr&igrave;nh b&agrave;y &yacute; tưởng; viết b&aacute;o c&aacute;o, thiết lập v&agrave; bảo vệ dự &aacute;n.</p>
<p>-&nbsp;&nbsp;&nbsp;L&agrave;m việc nh&oacute;m, tổ chức, ph&acirc;n c&ocirc;ng điều phối c&ocirc;ng việc giữa c&aacute;c th&agrave;nh vi&ecirc;n.</p>
<p>-&nbsp;&nbsp;&nbsp;X&acirc;y dựng, ph&aacute;t triển tổ nh&oacute;m tư vấn triển khai, &aacute;p dụng hệ thống th&ocirc;ng tin tại đơn vị.</p>
<p>-&nbsp;&nbsp;&nbsp;Giao tiếp th&ocirc;ng dụng bằng tiếng Anh hoặc tiếng Ph&aacute;p. Đọc v&agrave; hiểu c&aacute;c t&agrave;i liệu chuy&ecirc;n ng&agrave;nh bằng tiếng Anh hoặc tiếng Ph&aacute;p.</p>
<p>* Th&aacute;i độ</p>
<p><span lang="VI">-&nbsp;&nbsp;&nbsp;</span>C&oacute; phẩm chất ch&iacute;nh trị, &yacute; thức tổ chức kỷ luật, &yacute; thức x&atilde; hội v&agrave; đạo đức nghề nghiệp phục vụ sự ph&aacute;t triển của quốc gia v&agrave; của nền kinh tế to&agrave;n cầu.</p>
<p>-&nbsp;&nbsp;&nbsp;X&acirc;y dựng &yacute; thức, th&aacute;i độ tự học n&acirc;ng cao tr&igrave;nh độ.</p>