<h3>PHƯƠNG THỨC 5: Tuyển chọn v&agrave;o chương tr&igrave;nh ti&ecirc;n tiến v&agrave; chất lượng cao</h3>
<p>Trường Đại học Cần Thơ&nbsp;<em>(ĐHCT)</em>&nbsp;th&ocirc;ng b&aacute;o x&eacute;t tuyển Chương tr&igrave;nh chất lượng cao&nbsp;<em>(CTCLC)</em>&nbsp;v&agrave; Chương tr&igrave;nh ti&ecirc;n tiến&nbsp;<em>(CTTT)</em>&nbsp;theo Phương thức 5 như sau:</p>
<p><strong>1.&nbsp;&nbsp;&nbsp;Danh mục ng&agrave;nh tuyển sinh CTCLC v&agrave; CTTT</strong></p>
<table border="1" width="662" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="217">
<p align="center"><strong>T&ecirc;n ng&agrave;nh</strong></p>
</td>
<td>
<p align="center"><strong>Tổ hợp x&eacute;t tuyển</strong></p>
</td>
<td>
<p align="center"><strong>Thời gian đ&agrave;o tạo</strong></p>
</td>
<td width="170">
<p align="center"><strong>Học ph&iacute;</strong></p>
</td>
</tr>
<tr>
<td width="217">
<p>Ng&ocirc;n ngữ Anh (CTCLC)</p>
</td>
<td>
<p>- To&aacute;n, Văn, Anh;</p>
<p>- Văn, Sử, Anh;</p>
<p>- Văn, Địa, Anh;</p>
<p>- Văn, GDCD, Anh.</p>
</td>
<td>
<p>4 năm; 141 t&iacute;n chỉ&nbsp;<em>(26 t&iacute;n chỉ chương tr&igrave;nh (CT) đại tr&agrave; v&agrave; 115 t&iacute;n chỉ CTCLC)</em></p>
</td>
<td valign="top" width="170">
<p>-&nbsp;<u>26 t&iacute;n chỉ CT đại tr&agrave;</u>:&nbsp;&nbsp;</p>
<p>352.000 đồng/t&iacute;n chỉ</p>
<p>-&nbsp;<u>115 t&iacute;n chỉ CTCLC</u>:</p>
<p>1.068.000 đồng/t&iacute;n chỉ</p>
</td>
</tr>
<tr>
<td width="217">
<p>C&ocirc;ng nghệ th&ocirc;ng tin&nbsp;(CTCLC)</p>
</td>
<td rowspan="8">
<p>- To&aacute;n, L&yacute;, H&oacute;a;</p>
<p>- To&aacute;n, L&yacute;, Anh;</p>
<p>- To&aacute;n, H&oacute;a, Anh;</p>
<p>- To&aacute;n, Văn, Anh.</p>
</td>
<td rowspan="10">
<p>4,5 năm; 166 t&iacute;n chỉ&nbsp;<em>(</em><em>26 t&iacute;n chỉ CT đại tr&agrave;, 120 t&iacute;n chỉ CTCLC v&agrave; 20 t&iacute;n chỉ Tiếng Anh tăng cường)</em></p>
</td>
<td rowspan="10" width="170">
<p>-&nbsp;<u>26 t&iacute;n chỉ CT đại tr&agrave;</u>:</p>
<p>352.000 đồng/t&iacute;n chỉ</p>
<p>-&nbsp;<u>120 t&iacute;n chỉ CTCLC</u>:</p>
<p>1.161.000 đồng/t&iacute;n chỉ</p>
<p>-&nbsp;<u>20 t&iacute;n chỉ Tiếng Anh tăng cường</u>:</p>
<p>422.000 đồng/t&iacute;n chỉ</p>
</td>
</tr>
<tr>
<td width="217">
<p>Kỹ thuật phần mềm (CTCLC)</p>
</td>
</tr>
<tr>
<td width="217">
<p>Quản trị kinh doanh (CTCLC)</p>
</td>
</tr>
<tr>
<td width="217">
<p>Quản trị dịch vụ du lịch v&agrave; lữ h&agrave;nh (CTCLC)</p>
</td>
</tr>
<tr>
<td width="217">
<p>Kinh doanh quốc tế&nbsp;(CTCLC)</p>
</td>
</tr>
<tr>
<td width="217">
<p>T&agrave;i ch&iacute;nh - Ng&acirc;n h&agrave;ng (CTCLC)</p>
</td>
</tr>
<tr>
<td width="217">
<p>Kỹ thuật điện&nbsp;(CTCLC)</p>
</td>
</tr>
<tr>
<td width="217">
<p>Kỹ&nbsp;thuật&nbsp;x&acirc;y dựng (CTCLC)</p>
</td>
</tr>
<tr>
<td width="217">
<p>C&ocirc;ng nghệ kỹ thuật h&oacute;a học (CTCLC)</p>
</td>
<td rowspan="4">
<p>- To&aacute;n, L&yacute;, H&oacute;a;</p>
<p>- To&aacute;n, L&yacute;, Anh;</p>
<p>- To&aacute;n, H&oacute;a, Sinh;</p>
<p>- To&aacute;n, H&oacute;a, Anh;</p>
<p>- To&aacute;n, Sinh, Anh.</p>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td width="217">
<p>C&ocirc;ng nghệ thực phẩm (CTCLC)</p>
</td>
</tr>
<tr>
<td width="217">
<p>C&ocirc;ng nghệ sinh học (CTTT)</p>
</td>
<td>
<p>4,5 năm;&nbsp;161 t&iacute;n chỉ&nbsp;<em>(</em><em>26 t&iacute;n chỉ CT đại tr&agrave;, 115 t&iacute;n chỉ CTTT v&agrave; 20 t&iacute;n chỉ Tiếng Anh tăng cường)</em></p>
</td>
<td valign="top" width="170">
<p>-&nbsp;<u>26 t&iacute;n chỉ CT đại tr&agrave;</u>:</p>
<p>352.000 đồng/t&iacute;n chỉ</p>
<p>-&nbsp;<u>115 t&iacute;n chỉ CTCLC</u>:</p>
<p>1.211.000 đồng/t&iacute;n chỉ</p>
<p>-&nbsp;<u>20 t&iacute;n chỉ Tiếng Anh tăng cường</u>:</p>
<p>422.000 đồng/t&iacute;n chỉ</p>
</td>
</tr>
<tr>
<td width="217">
<p>Nu&ocirc;i trồng thủy sản (CTTT)</p>
</td>
<td>
<p>4,5 năm;&nbsp;163&nbsp;t&iacute;n chỉ<em>&nbsp;(</em><em>26 t&iacute;n chỉ CT đại tr&agrave;, 117 t&iacute;n chỉ CTTT v&agrave; 20 t&iacute;n chỉ Tiếng Anh tăng cường)</em></p>
</td>
<td valign="top" width="170">
<p>-&nbsp;<u>26 t&iacute;n chỉ CT đại tr&agrave;</u>:</p>
<p>352.000 đồng/t&iacute;n chỉ</p>
<p>-&nbsp;<u>117 t&iacute;n chỉ CTCLC</u>:</p>
<p>1.191.000 đồng/t&iacute;n chỉ</p>
<p>-&nbsp;<u>20 t&iacute;n chỉ Tiếng Anh tăng cường</u>:</p>
<p>422.000 đồng/t&iacute;n chỉ</p>
</td>
</tr>
</tbody>
</table>
<p><strong>Ghi ch&uacute;:</strong>&nbsp;- Học ph&iacute; CTCLC v&agrave; CTTT được giữ cố định trong suốt kh&oacute;a học.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;- Tham khảo chi tiết về ng&agrave;nh đ&agrave;o tao tại website: http://tuyensinh.ctu.edu.vn</p>
<p><strong>2. Ngưỡng đảm bảo chất lượng đầu v&agrave;o</strong></p>
<p>Ngưỡng đảm bảo chất lượng đầu v&agrave;o mỗi ng&agrave;nh bằng điểm chuẩn tr&uacute;ng tuyển của ng&agrave;nh tương ứng với Phương thức 2 hoặc Phương thức 3 t&ugrave;y v&agrave;o điểm của th&iacute; sinh d&ugrave;ng để x&eacute;t tuyển theo Phương thức 5.</p>
<p><strong>3. Điều kiện đăng k&yacute; x&eacute;t tuyển</strong></p>
<p>-&nbsp;&nbsp;Ứng vi&ecirc;n l&agrave; sinh vi&ecirc;n tr&uacute;ng tuyển đại học hệ ch&iacute;nh quy v&agrave; nhập học v&agrave;o Trường ĐHCT năm 2022 bất kỳ ng&agrave;nh n&agrave;o theo c&aacute;c phương thức x&eacute;t tuyển: 1, 2, 3 v&agrave; 4.</p>
<p>-&nbsp;&nbsp;Phương &aacute;n x&eacute;t: căn cứ v&agrave;o điểm Kỳ thi tốt nghiệp THPT năm 2022 hoặc điểm học bạ THPT&nbsp;<em>(5 học kỳ, kh&ocirc;ng t&iacute;nh học kỳ 2 lớp 12)</em>.</p>
<p>-&nbsp;&nbsp;Điểm x&eacute;t tuyển theo tổ hợp của ứng vi&ecirc;n&nbsp;<em>(tổng điểm 3 m&ocirc;n cộng với điểm ưu ti&ecirc;n đối tượng v&agrave; khu vực tuyển sinh)</em>&nbsp;phải lớn hơn hoặc bằng Ngưỡng đảm bảo chất lượng đầu v&agrave;o của Phương thức 5.</p>
<p><strong>4. Thời gian đăng k&yacute;</strong></p>
<p>-&nbsp;&nbsp;Thời gian:&nbsp;<strong>từ ng&agrave;y 17/9/2022 đến ng&agrave;y 30/9/2022</strong>.</p>
<p>-&nbsp;&nbsp;Ứng vi&ecirc;n đăng k&yacute; trực tuyến tr&ecirc;n Hệ thống đăng k&yacute; x&eacute;t tuyển của Trường ĐHCT sau khi ho&agrave;n th&agrave;nh thủ tục nhập học.</p>
<p>-&nbsp;&nbsp;Ứng vi&ecirc;n được đăng k&yacute; nhiều hơn 1 ng&agrave;nh v&agrave; phải xếp thứ tự ưu ti&ecirc;n.</p>
<p><strong>5. C&ocirc;ng bố kết quả:</strong></p>
<p>Dự kiến&nbsp;<strong>kết quả x&eacute;t tuyển được c&ocirc;ng bố v&agrave;o ng&agrave;y 01/10/2022</strong>. Sinh vi&ecirc;n được x&eacute;t tr&uacute;ng tuyển v&agrave;o CTCLC v&agrave; CTTT sẽ&nbsp;<strong>bắt đầu học từ ng&agrave;y 10/10/2022</strong>.</p>
<p>Trong thời gian chờ kết quả x&eacute;t tuyển v&agrave; trước&nbsp;khi bắt đầu học CTCLC hoặc CTTT,&nbsp;sinh vi&ecirc;n vẫn học v&agrave; thi những học phần của ng&agrave;nh đ&atilde; tr&uacute;ng tuyển. Nếu được x&eacute;t tuyển v&agrave;o học CTCLC hoặc CTTT, sinh vi&ecirc;n sẽ được Trường cho bảo lưu kết quả những học phần đ&atilde; t&iacute;ch lũy được c&oacute; trong CTCLC hoặc CTTT. Trường hợp kh&ocirc;ng tr&uacute;ng tuyển Phương thức 5 n&agrave;y, sinh vi&ecirc;n tiếp tục theo học ng&agrave;nh đ&atilde; tr&uacute;ng tuyển.</p>
<p>Li&ecirc;n hệ: Ph&ograve;ng Đ&agrave;o tạo - Trường ĐHCT</p>
<p>- Địa chỉ: Khu II, Đường 3/2, Quận Ninh Kiều, TP. Cần Thơ</p>
<p>- Điện thoại: 0292. 3872728; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mobile/Zalo/Viber: 0886889922</p>
<p>- Email:&nbsp;<span id="cloakeaf42a95477d4b8a0c8cc4e80c969d77"><a href="mailto:tuyensinh@ctu.edu.vn">tuyensinh@ctu.edu.vn</a></span>&nbsp;; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;https://www.facebook.com/ctu.tvts</p>