<div class="row">
<div class="col-6">
<p><strong>Th&ocirc;ng tin chung:</strong></p>
<p>- T&ecirc;n ng&agrave;nh:&nbsp;<strong>Truyền th&ocirc;ng đa phương tiện&nbsp;</strong>(Multimedia Communication)</p>
<p>- M&atilde; ng&agrave;nh tuyển sinh:&nbsp;<strong>7320104</strong><em>&nbsp;</em></p>
<p>-&nbsp;Phương thức x&eacute;t tuyển:</p>
<p>&nbsp; &nbsp;+ X&eacute;t tuyển bằng điểm Kỳ thi tốt nghiệp THPT (<a class="site-link" href="../ptxt2">Phương thức 2</a>).</p>
<p>&nbsp; &nbsp;+ X&eacute;t tuyển bằng điểm học bạ THPT (<a class="site-link" href="../ptxt3">Phương thức 3</a>).</p>
<p>- Tổ hợp x&eacute;t tuyển:&nbsp;<em>To&aacute;n-L&yacute;-H&oacute;a (<strong>A00</strong>), To&aacute;n-Vật l&iacute;-Tiếng Anh (<strong>A01</strong>),</em>&nbsp;<em>Ngữ văn-To&aacute;n-Tiếng Anh (<strong>D01</strong>)</em></p>
<p>- Thời gian đ&agrave;o tạo:&nbsp;<em>4,5 năm</em></p>
<p>- Danh hiệu cấp bằng:&nbsp;<em>Kỹ sư</em></p>
</div>
<div class="col-6"><video poster="" controls="controls" width="100%" height="300"><source src="../../assets/uploads/7320104_Truyenthongdaphuongtien.mp4" type="video/mp4"></video></div>
</div>
<p>- T&ecirc;n ng&agrave;nh được ghi tr&ecirc;n bằng tốt nghiệp, bảng điểm v&agrave; quyết định tốt nghiệp.</p>
<p><strong>Giới thiệu:</strong></p>
<p>Chuyển đổi số v&agrave; Truyền th&ocirc;ng số đang l&agrave; một xu hướng ph&aacute;t triển nổi bật nhất hiện nay. C&ocirc;ng nghệ th&ocirc;ng tin đ&atilde; v&agrave; đang trở th&agrave;nh c&ocirc;ng cụ kh&ocirc;ng thể thiếu trong việc thiết kế v&agrave; bi&ecirc;n tập c&aacute;c nội dung b&aacute;o điện tử, c&aacute;c chương tr&igrave;nh truyền h&igrave;nh, c&aacute;c video clip quảng c&aacute;o, c&aacute;c phần mềm tr&ograve; chơi, chương tr&igrave;nh giải tr&iacute;, m&ocirc; phỏng trong lĩnh vực y tế, c&aacute;c nội dung gi&aacute;o dục đ&agrave;o tạo v&agrave; c&aacute;c lĩnh vực kh&aacute;c trong cuộc sống th&ocirc;ng qua đa phương tiện.</p>
<p>Sau khi tốt nghiệp ng&agrave;nh Truyền th&ocirc;ng Đa phương tiện, sinh vi&ecirc;n ho&agrave;n to&agrave;n tự tin với khả năng v&agrave; kiến thức chuy&ecirc;n s&acirc;u về thiết kế v&agrave; bi&ecirc;n tập c&aacute;c nội dung quảng c&aacute;o, thiết kế ấn phẩm b&aacute;o ch&iacute;, hoạt h&igrave;nh 2D/3D, kỹ xảo điện ảnh; quản l&yacute;, lập kế hoạch, tổ chức v&agrave; gi&aacute;m s&aacute;t qu&aacute; tr&igrave;nh thực hiện c&aacute;c dự &aacute;n Truyền th&ocirc;ng đa phương tiện. B&ecirc;n cạnh đ&oacute;, sinh vi&ecirc;n sử dụng th&agrave;nh thạo ng&ocirc;n ngữ v&agrave; kỹ thuật lập tr&igrave;nh để tham gia c&aacute;c dự &aacute;n gia c&ocirc;ng phần mềm, lập tr&igrave;nh Web thương mại điện tử, lập tr&igrave;nh&nbsp;đa phương tiện: lập tr&igrave;nh di động, tr&ograve; chơi, ...</p>
<p><strong>Vị tr&iacute; việc l&agrave;m:</strong></p>
<p>- Chuy&ecirc;n vi&ecirc;n bi&ecirc;n tập, quản trị b&aacute;o điện tử, c&aacute;c k&ecirc;nh truyền th&ocirc;ng số, tiếp thị số.</p>
<p>- Kỹ sư, lập tr&igrave;nh phần mềm; ph&aacute;t triển c&aacute;c ứng dụng Web, ứng dụng tr&ecirc;n thiết bị di động.</p>
<p>- Chuy&ecirc;n vi&ecirc;n thiết kế, tư vấn quảng c&aacute;o, thiết kế bao b&igrave;, nh&atilde;n hiệu sản phẩm, thiết kế logo, l&agrave;m phim quảng c&aacute;o, &hellip; hoặc một hệ thống nhận dạng thương hiệu (tại c&aacute;c c&ocirc;ng ty quảng c&aacute;o, PR).</p>
<p>- Chuy&ecirc;n vi&ecirc;n/Gi&aacute;m đốc tổ chức sự kiện, chuy&ecirc;n vi&ecirc;n truyền th&ocirc;ng trực tiếp v&agrave; trực tuyến.</p>
<p>- Gi&aacute;m đốc sản xuất, bi&ecirc;n tập vi&ecirc;n truyền h&igrave;nh, ph&oacute;ng vi&ecirc;n (truyền th&ocirc;ng đa phương tiện); xử l&yacute; &acirc;m thanh, h&igrave;nh ảnh trước khi ph&aacute;t s&oacute;ng, thiết kế c&aacute;c nội dung truyền h&igrave;nh (tại c&aacute;c c&ocirc;ng ty truyền h&igrave;nh, h&atilde;ng sản xuất phim).</p>
<p>- Giảng vi&ecirc;n dạy tại c&aacute;c trường đại học, cao đẳng, trung cấp, &hellip; đ&agrave;o tạo về Truyền th&ocirc;ng đa phương tiện.&nbsp;</p>
<p><strong>Nơi l&agrave;m việc:</strong></p>
<p>- C&aacute;c c&ocirc;ng ty truyền th&ocirc;ng, tư vấn thiết kế quảng c&aacute;o v&agrave; tổ chức sự kiện;</p>
<p>- C&aacute;c c&ocirc;ng ty cung cấp nội dung số: đ&agrave;i truyền h&igrave;nh, b&aacute;o điện tử, c&aacute;c k&ecirc;nh truyền th&ocirc;ng số, đ&agrave;o tạo trực tuyến;</p>
<p>- C&aacute;c c&ocirc;ng ty tư vấn, thiết kế v&agrave; ph&aacute;t triển sản phẩm phần mềm;</p>
<p>- C&aacute;c cơ quan nh&agrave; nước c&oacute; li&ecirc;n quan đến lĩnh vực truyền th&ocirc;ng số;</p>
<p>- C&aacute;c Trường đại học, cao đẳng, trung cấp, &hellip; đ&agrave;o tạo về truyền th&ocirc;ng số v&agrave; tiếp thị số.</p>